openapi: 3.1.0
info:
  title: NAWA API
  version: 1.1.1
  description: |
    Arabic language intelligence API.
    تصنيف ذكي للمحتوى العربي  -  من الخليج إلى المغرب.

    NAWA classifies Arabic and English text with dialect detection, sentiment analysis,
    intent classification, translation, content moderation, and automated reply generation.
  contact:
    name: NAWA Support
    email: support@trynawa.com
    url: https://trynawa.com
  license:
    name: Proprietary
    url: https://trynawa.com/terms

servers:
  - url: https://api.trynawa.com/v1
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Classification
    description: Text classification endpoints
  - name: Translation
    description: Arabic-English translation
  - name: Detection
    description: Language and dialect detection
  - name: Moderation
    description: Content moderation
  - name: Reply
    description: Comment reply generation
  - name: Intelligence
    description: Audience intelligence reports
  - name: Feedback
    description: RLHF feedback ingestion
  - name: Comments
    description: Comment retrieval and filtering
  - name: Analytics
    description: Aggregated analytics
  - name: Usage
    description: API usage statistics
  - name: System
    description: Health and status
  - name: Webhooks
    description: Webhook management

paths:
  /classify:
    post:
      operationId: classify
      summary: Classify text
      description: |
        Classify an Arabic or English comment in one call. Returns intent labels,
        sentiment, detected language, and a natural-language analysis note from
        NAGL. Semantic cache hits are free and return identical shape with
        `X-NAWA-Cache: HIT`.

        Dialect note: `dialect` is currently hardcoded to `"gulf"` for any Arabic
        text on this endpoint; real dialect detection runs only on `/v1/detect`
        and `/v1/translate`. `dialect_confidence` is the NAGL intent-classifier
        confidence, not a dialect-specific score. Use `/v1/detect` when dialect
        correctness matters.
      tags: [Classification]
      x-nawa-cost: "$0.006"
      x-nawa-cache: true
      x-nawa-free: false
      parameters:
        - name: provider
          in: query
          required: false
          schema:
            type: string
            enum: [claude, gemini, allam]
          description: Force a specific AI provider for A/B testing. Default is NAGL's language-based routing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  description: The comment text to classify. Must be a non-empty string.
                  examples:
                    - "متى الجزء الثاني؟"
                    - "ما شاء الله عليك، محتوى رهيب!"
            example:
              text: "متى الجزء الثاني؟"
      responses:
        "200":
          description: Classification result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Latency:
              $ref: "#/components/headers/X-NAWA-Latency"
            X-NAWA-Calibration-Version:
              description: Calibration threshold version applied; `"default"` when the caller has no custom calibration.
              schema:
                type: string
            X-NAWA-Environment:
              description: Key environment - `sandbox` or `live`.
              schema:
                type: string
                enum: [sandbox, live]
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassifySuccessResponse"
              examples:
                gulf_question:
                  summary: Gulf Arabic question
                  value:
                    result:
                      id: cls_nw_lx4cqy2j2o1o
                      object: classification
                      intent: ["question"]
                      sentiment: neutral
                      language: ar
                      dialect: gulf
                      dialect_confidence: 0.92
                      requires_response: true
                      priority: medium
                      suggested_reply:
                        text: "Viewer is asking when the next part drops. Respond with the schedule."
                        direction: rtl
                      provider: claude
                      model: claude-sonnet-4-5-20250929
                      fallback_used: false
                      tokens_used: null
                      cost_usd: 0.006
                      credits_used: 6
                    success: true
                    errors: []
                    request_id: req_nw_9cfb228162d6
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /translate:
    post:
      operationId: translate
      summary: Translate text
      description: |
        Translate text between English and Arabic with dialect awareness.
        Generates culturally appropriate translations in Gulf, Egyptian, Levantine, or MSA Arabic.
        Falls back to Claude Haiku 4.5 if ALLaM is unavailable.
      tags: [Translation]
      x-nawa-cost: "$0.005"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, target]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: Text to translate
                  examples:
                    - "Hello, how are you?"
                    - "وش رايكم بالمحتوى الجديد؟"
                source:
                  type: string
                  enum: [ar, en, auto]
                  default: auto
                  description: "Source language. Use `auto` to detect automatically."
                target:
                  type: string
                  enum: [ar, en]
                  description: Target language
                dialect:
                  type: string
                  enum: [gulf, egyptian, levantine, msa]
                  default: msa
                  description: "Target dialect for Arabic output"
                tone:
                  type: string
                  enum: [formal, casual, social_media]
                  default: formal
                  description: Translation tone
                platform:
                  type: string
                  enum: [youtube, instagram, twitter, facebook]
                  description: Source platform for social media tone context
                metadata:
                  type: object
                  description: Arbitrary key-value metadata
            example:
              text: "Hello, how are you?"
              source: "en"
              target: "ar"
              dialect: "gulf"
              tone: "casual"
      responses:
        "200":
          description: Translation result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslateSuccessResponse"
              examples:
                en_to_gulf:
                  summary: English to Gulf Arabic (casual)
                  value:
                    success: true
                    result:
                      id: trn_nw_pon1yom9bkfe
                      object: translation
                      text: "Hello, how are you?"
                      translated_text: "هلا، كيف حالك؟"
                      source_language: en
                      target_language: ar
                      source_dialect: null
                      target_dialect: gulf
                      tone: casual
                      provider: allam
                      model: sdaia/allam-1-13b-instruct
                      fallback_used: false
                      cached: false
                      cost_usd: 0.005
                      credits_used: 5
                    errors: []
                    request_id: req_nw_4c11w71e44cb
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /detect:
    post:
      operationId: detectLanguage
      summary: Detect language and dialect
      description: |
        Detect language, dialect, script, and text direction from any text input.
        Uses local NAGL modules only -- no external AI call. Returns in under 100ms.
      tags: [Detection]
      x-nawa-cost: "$0.002"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: The text to detect
                  examples:
                    - "وش رايكم بالمحتوى الجديد؟"
                    - "This is a great video"
            example:
              text: "وش رايكم بالمحتوى الجديد؟"
      responses:
        "200":
          description: Detection result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DetectSuccessResponse"
              examples:
                gulf_arabic:
                  summary: Gulf Arabic detection
                  value:
                    success: true
                    result:
                      id: det_nw_pon1yom9bkfe
                      object: detection
                      text: "وش رايكم بالمحتوى الجديد؟"
                      language: ar
                      dialect: gulf
                      dialect_confidence: 0.95
                      script: arabic
                      text_direction: rtl
                      word_count: 4
                      fallback_used: false
                      cost_usd: 0.002
                      credits_used: 2
                      cached: false
                    errors: []
                    request_id: req_nw_det1a2b3c4d5e
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /moderate:
    post:
      operationId: moderateContent
      summary: Moderate content
      description: |
        Dialect-aware Arabic content moderation. Understands profanity, slang, and
        offensive language differences across Gulf, Egyptian, Levantine, and MSA Arabic.
        Falls back to Claude Haiku 4.5 if ALLaM is unavailable.
      tags: [Moderation]
      x-nawa-cost: "$0.004"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: The text to moderate
                  examples:
                    - "هذا محتوى رائع جدا"
                strictness:
                  type: string
                  enum: [low, medium, high]
                  default: medium
                  description: "Moderation strictness. low: severe only. medium: moderate+severe. high: all problematic."
                context:
                  type: string
                  description: "Where the text appears (e.g. youtube comment, product review)"
                platform:
                  type: string
                  enum: [youtube, instagram, twitter, facebook]
                  description: Source platform
            example:
              text: "هذا محتوى رائع جدا"
              strictness: "medium"
      responses:
        "200":
          description: Moderation result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerateSuccessResponse"
              examples:
                safe_content:
                  summary: Safe Arabic content
                  value:
                    success: true
                    result:
                      id: mod_nw_pon1yom9bkfe
                      object: moderation
                      text: "هذا محتوى رائع جدا"
                      is_safe: true
                      verdict: safe
                      flags: []
                      severity: none
                      severity_score: 0.0
                      language: ar
                      dialect: gulf
                      categories:
                        profanity: false
                        hate_speech: false
                        harassment: false
                        sexual: false
                        spam: false
                        self_harm: false
                        violence: false
                      category_scores:
                        profanity: 0.01
                        hate_speech: 0.00
                        harassment: 0.02
                        sexual: 0.00
                        spam: 0.05
                        self_harm: 0.00
                        violence: 0.01
                      flagged_terms: []
                      cleaned_text: null
                      model: nagl-v1
                      provider: allam
                      fallback_used: false
                      cached: false
                      cost_usd: 0.004
                      credits_used: 4
                    errors: []
                    request_id: req_nw_mod1a2b3c4d5e
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /rubric-classify:
    post:
      operationId: rubricClassify
      summary: Classify with custom rubric
      description: |
        Classify text against a user-defined rubric. Define your own categories and
        scoring criteria for domain-specific classification. Supports both single-label
        and multi-label classification with configurable confidence thresholds.
      tags: [Classification]
      x-nawa-cost: "$0.003"
      x-nawa-cache: false
      x-nawa-free: false
      parameters:
        - name: provider
          in: query
          required: false
          schema:
            type: string
            enum: [claude, gemini, allam]
          description: Force a specific AI provider for A/B testing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, rubric]
              properties:
                text:
                  type: string
                  minLength: 1
                  description: The comment text to classify. Must be a non-empty string.
                  examples:
                    - "وين الترجمة العربية؟ مافهمت شي"
                rubric:
                  type: object
                  required: [categories]
                  properties:
                    categories:
                      type: array
                      minItems: 1
                      maxItems: 20
                      items:
                        type: object
                        required: [name]
                        properties:
                          name:
                            type: string
                            minLength: 1
                            description: Category name
                          description:
                            type: string
                            description: Category description to guide the model
                      description: Array of category objects. Each must have a non-empty `name`.
                    multi_label:
                      type: boolean
                      default: false
                      description: If `true`, returns all matching categories above the confidence threshold. Default is single-label (top match only).
                    confidence_threshold:
                      type: number
                      minimum: 0
                      maximum: 1
                      default: 0.5
                      description: Minimum confidence score to include a category. Clamped to 0-1.
            example:
              text: "وين الترجمة العربية؟ مافهمت شي"
              rubric:
                categories:
                  - name: "translation_request"
                    description: "User is asking for subtitles or translation"
                  - name: "technical_issue"
                    description: "Audio, video, or playback problems"
                  - name: "content_feedback"
                    description: "Comments about the content quality"
                  - name: "off_topic"
                    description: "Not related to the video"
                multi_label: false
                confidence_threshold: 0.5
      responses:
        "200":
          description: Rubric classification result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RubricSuccessResponse"
              examples:
                translation_request:
                  summary: Gulf Arabic translation request
                  value:
                    success: true
                    result:
                      id: rcl_nw_a1b2c3d4e5f6
                      object: rubric_classification
                      categories:
                        - name: translation_request
                          confidence: 0.94
                      multi_label: false
                      language: ar
                      provider: claude
                      model: claude-sonnet-4-5-20250929
                      fallback_used: false
                      cost_usd: 0.003
                      credits_used: 3
                    errors: []
                    request_id: req_nw_rub123abc456
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /report:
    post:
      operationId: generateReport
      summary: Generate audience intelligence report
      description: |
        Generate a structured audience intelligence report from an array of comments.
        Returns markdown and parsed JSON sections. Pro tier includes additional sections
        (repeat commenter analysis, content brief, cross-video narrative tracking).

        Reports open with a TL;DR verdict, use plain-English section titles, and tag
        every percentage as COUNT (exact from data) or ESTIMATE (analyst judgement).

        Requires a live API key. Sandbox/free keys are blocked (minimum cost is 500 credits).
        Rate limited to 5 reports per minute, 20 per day.
      tags: [Intelligence]
      x-nawa-cost: "$0.50 (basic) / $1.50 (pro)"
      x-nawa-cache: false
      x-nawa-rate-tier: paid
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [comments]
              properties:
                comments:
                  type: array
                  minItems: 10
                  maxItems: 500
                  items:
                    type: object
                    required: [text]
                    properties:
                      text:
                        type: string
                        description: Comment text content
                      author:
                        type: string
                        description: Comment author name or handle
                      likes:
                        type: integer
                        description: Like/upvote count
                      created_at:
                        type: string
                        format: date-time
                        description: Comment creation timestamp
                  description: Array of comments to analyze (10-500)
                tier:
                  type: string
                  enum: [basic, pro]
                  default: basic
                  description: |
                    Report tier. Basic (500 credits, $0.50) produces the core report.
                    Pro (1500 credits, $1.50) adds repeat commenter analysis, content
                    brief, and cross-video tracking.
                title:
                  type: string
                  description: Video or content title for context
                  examples:
                    - "How to Build a YouTube Community in 2026"
                channel_context:
                  type: string
                  description: Optional channel description or context for more targeted analysis
            example:
              comments:
                - text: "This is exactly what I needed to hear, thank you!"
                  author: "@grateful_viewer"
                  likes: 42
                - text: "Can you do a follow-up on the Arabic market?"
                  author: "@mena_fan"
                  likes: 18
                - text: "I disagree with your take on algorithm changes"
                  author: "@skeptic_99"
                  likes: 7
              tier: "pro"
              title: "YouTube Algorithm Deep Dive 2026"
      responses:
        "200":
          description: Intelligence report generated
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Latency:
              $ref: "#/components/headers/X-NAWA-Latency"
            X-NAWA-Tier:
              schema:
                type: string
                enum: [basic, pro]
              description: Report tier that was generated
          content:
            application/json:
              schema:
                type: object
                required: [success, result, errors, request_id]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Report ID
                        examples:
                          - "rpt_nw_a1b2c3d4e5f67890"
                      object:
                        type: string
                        enum: [intelligence_report]
                      tier:
                        type: string
                        enum: [basic, pro]
                      report_markdown:
                        type: string
                        description: |
                          Full report as markdown. Percentages are tagged with COUNT
                          (verified from data) or ESTIMATE (analyst judgement). Any
                          percentage the model left untagged is stamped UNVERIFIED
                          by post-processing.
                      sections:
                        type: object
                        description: |
                          Parsed report sections as JSON. Keys are stable across
                          prompt versions (e.g. tldr, executive_summary,
                          headline_finding, clusters, sentiment, recommendations).
                          Unknown sections appear under a slugified key.
                        additionalProperties:
                          type: string
                      comments_analyzed:
                        type: integer
                      cost_usd:
                        type: number
                      credits_used:
                        type: integer
                  errors:
                    type: array
                    maxItems: 0
                    items: {}
                  request_id:
                    type: string
              example:
                success: true
                result:
                  id: "rpt_nw_a1b2c3d4e5f67890"
                  object: intelligence_report
                  tier: pro
                  report_markdown: "## TL;DR\n**Your audience is growing but fragile...**\n\n## Executive Summary\n...\n\n## The One Finding That Matters\n..."
                  sections:
                    tldr: "**Your audience is growing but fragile...**"
                    executive_summary: "| Metric | Value |..."
                    headline_finding: "**Your loudest critics are also your most-liked commenters...**"
                    sentiment: "| Sentiment | Count | % |..."
                    recommendations: "1. **Engage your superfans directly**..."
                  comments_analyzed: 150
                  cost_usd: 1.50
                  credits_used: 1500
                errors: []
                request_id: "req_nw_a1b2c3d4e5f67890abcdef12"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /comments/reply:
    post:
      operationId: generateReply
      summary: Classify and reply to a comment
      description: |
        Classify a comment and generate a culturally-aware, dialect-matched reply in
        a single call. For Arabic comments, replies match the detected dialect (Gulf,
        Egyptian, Levantine, MSA). For English comments, replies are natural and
        platform-appropriate.

        The response includes both the classification result (intent, sentiment,
        priority) and the generated reply text.
      tags: [Reply]
      x-nawa-cost: "$0.008"
      x-nawa-cache: false
      x-nawa-free: false
      parameters:
        - name: provider
          in: query
          required: false
          schema:
            type: string
            enum: [claude, gemini, allam]
          description: Force a specific AI provider for A/B testing. Default is NAGL's language-based routing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  description: The comment text to classify and reply to. Must be a non-empty string.
                  examples:
                    - "متى الجزء الثاني؟"
                    - "Great video, but the audio quality could be better"
                tone:
                  type: string
                  enum: [friendly, professional, casual, formal]
                  default: professional
                  description: Reply tone
                max_length:
                  type: integer
                  minimum: 1
                  maximum: 2000
                  default: 500
                  description: Maximum reply length in characters
                context:
                  type: object
                  properties:
                    platform:
                      type: string
                      description: Source platform (e.g. youtube, instagram)
                    brand_voice:
                      type: string
                      description: Brand voice description for reply style
                  description: Optional context to improve reply relevance
            example:
              text: "متى الجزء الثاني؟"
              tone: "professional"
              context:
                platform: "youtube"
                brand_voice: "Tech review channel focused on smartphones"
      responses:
        "200":
          description: Classification and generated reply
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Latency:
              $ref: "#/components/headers/X-NAWA-Latency"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplySuccessResponse"
              examples:
                gulf_reply:
                  summary: Reply to Gulf Arabic question
                  value:
                    success: true
                    result:
                      id: rpl_nw_a1b2c3d4e5f6
                      object: comment_reply
                      classification:
                        intent: ["question"]
                        sentiment: neutral
                        priority: medium
                        requires_response: true
                      reply:
                        text: "إن شاء الله الجزء الثاني قريب! تابعنا عشان ما يفوتك"
                        direction: rtl
                        tone: professional
                      provider: claude
                      model: claude-sonnet-4-5-20250929
                      cost_usd: 0.008
                      credits_used: 8
                    errors: []
                    request_id: req_nw_rep789xyz012
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /feedback:
    post:
      operationId: submitFeedback
      summary: Submit classification feedback
      description: |
        Submit RLHF feedback on a prior classification. Feedback accumulates
        into pattern hints that NAGL injects on future classifications.

        Free endpoint; does not consume credits. Sandbox keys can submit
        feedback, and each submission counts against the 100-request sandbox
        lifetime cap.
      tags: [Feedback]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackInput"
            example:
              classification_id: "cls_nw_lx4cqy2j2o1o"
              rating: "partial"
              corrected_intent: ["question", "suggestion"]
              corrected_sentiment: "neutral"
              comment: "The comment is a question AND a polite suggestion."
      responses:
        "200":
          description: Feedback accepted
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Environment:
              description: Key environment - `sandbox` or `live`.
              schema:
                type: string
                enum: [sandbox, live]
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedbackSuccessResponse"
              examples:
                accepted:
                  summary: Feedback accepted
                  value:
                    result:
                      id: fb_nw_8k3r9vwxyz01
                      object: feedback
                      classification_id: cls_nw_lx4cqy2j2o1o
                      rating: partial
                      acknowledged: true
                    success: true
                    errors: []
                    request_id: req_nw_fb01abc23def4
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /comments:
    get:
      operationId: listComments
      summary: List classified comments
      description: |
        Retrieve previously classified comments with filtering and offset-based
        pagination. Returns comments stored from prior `/v1/classify` calls.
        Free endpoint.
      tags: [Comments]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: platform
          in: query
          required: false
          schema:
            type: string
            enum: [youtube, instagram, twitter, facebook]
          description: Filter by platform
        - name: intent
          in: query
          required: false
          schema:
            type: string
            enum: [question, complaint, praise, suggestion, spam, other]
          description: Filter by intent
        - name: sentiment
          in: query
          required: false
          schema:
            type: string
            enum: [positive, negative, neutral, mixed]
          description: Filter by sentiment
        - name: dialect
          in: query
          required: false
          schema:
            type: string
            enum: [gulf, egyptian, levantine, msa]
          description: Filter by dialect
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          description: Results per page (1-100)
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip for pagination
      responses:
        "200":
          description: List of classified comments
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentsListSuccessResponse"
              examples:
                filtered:
                  summary: Filtered comments with pagination
                  value:
                    success: true
                    result:
                      comments:
                        - id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                          request_id: "req_nw_abc123"
                          text: "متى الجزء الثاني؟"
                          platform: youtube
                          intent: question
                          sentiment: neutral
                          dialect: gulf
                          created_at: "2026-04-20T10:30:00Z"
                      pagination:
                        total: 150
                        limit: 25
                        offset: 0
                        has_more: true
                    errors: []
                    request_id: req_nw_lst_abc123
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /analytics:
    get:
      operationId: getAnalytics
      summary: Get API analytics
      description: |
        Retrieve aggregated API usage analytics including request counts, costs,
        cache hit rates, latency, and endpoint/provider distribution. Free endpoint.
      tags: [Analytics]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Start date (ISO 8601)
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: End date (ISO 8601)
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum: [endpoint, day, provider]
            default: endpoint
          description: Group the breakdown by endpoint name, calendar day, or AI provider
      responses:
        "200":
          description: Analytics data
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSuccessResponse"
              examples:
                by_endpoint:
                  summary: Analytics grouped by endpoint
                  value:
                    success: true
                    result:
                      analytics:
                        total_requests: 1234
                        total_cost: 7.404
                        cache_hits: 500
                        cache_hit_rate: 0.41
                        avg_latency_ms: 230
                        success_rate: 0.98
                        error_count: 25
                        endpoint_distribution:
                          "/v1/classify": 800
                          "/v1/translate": 200
                          "/v1/detect": 150
                          "/v1/moderate": 84
                        provider_distribution:
                          allam: 600
                          claude: 400
                          gemini: 234
                        period:
                          from: null
                          to: null
                      by_endpoint:
                        - endpoint: "/v1/classify"
                          requests: 800
                          cost: 4.8
                          avg_latency_ms: 200
                        - endpoint: "/v1/translate"
                          requests: 200
                          cost: 1.0
                          avg_latency_ms: 350
                    errors: []
                    request_id: req_nw_ana_abc123
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: |
        Check the operational status of the NAWA API and its dependencies.
        No authentication required. Returns service-level status for database,
        Redis cache, and the NAGL classification engine.
      tags: [System]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      security: []
      responses:
        "200":
          description: All services healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthSuccessResponse"
              examples:
                healthy:
                  summary: All services operational
                  value:
                    status: healthy
                    version: v1
                    services:
                      database:
                        status: healthy
                        latency_ms: 12
                      redis:
                        status: healthy
                        latency_ms: 3
                      nagl:
                        status: healthy
                    timestamp: "2026-04-20T12:00:00.000Z"
                    latency_ms: 45
        "503":
          description: One or more services degraded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthSuccessResponse"

  /usage:
    get:
      operationId: getUsage
      summary: Get usage statistics
      description: |
        Retrieve API usage statistics including request counts, credit consumption,
        and cache hit rates. Free endpoint.
      tags: [Usage]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Start date (ISO 8601)
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: End date (ISO 8601)
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum: [endpoint, day]
            default: endpoint
          description: Group results by endpoint name or calendar day
      responses:
        "200":
          description: Usage statistics
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageSuccessResponse"
              examples:
                by_endpoint:
                  summary: Usage grouped by endpoint
                  value:
                    success: true
                    result:
                      usage:
                        total_requests: 1200
                        total_cost: 7.2
                        cache_hits: 280
                        cache_hit_rate: 0.23
                        period:
                          from: null
                          to: null
                      by_endpoint:
                        - endpoint: "/v1/classify"
                          requests: 800
                          cost: 4.8
                          cache_hits: 200
                        - endpoint: "/v1/translate"
                          requests: 200
                          cost: 1.0
                          cache_hits: 50
                        - endpoint: "/v1/comments/reply"
                          requests: 100
                          cost: 0.8
                          cache_hits: 0
                    errors: []
                    request_id: req_nw_usg_abc123
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /webhooks:
    post:
      operationId: createWebhook
      summary: Create webhook endpoint
      description: |
        Register a new webhook endpoint for event notifications. Maximum 10 active
        endpoints per account. The `signing_secret` is returned only once at
        creation -- store it securely for verifying webhook signatures.
      tags: [Webhooks]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                  description: HTTPS endpoint URL (must use HTTPS)
                  examples:
                    - "https://example.com/webhooks/nawa"
                events:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    enum:
                      - classification.completed
                      - classification.failed
                      - credits.low
                      - credits.exhausted
      responses:
        "201":
          description: Webhook endpoint created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
    get:
      operationId: listWebhooks
      summary: List webhook endpoints
      tags: [Webhooks]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      responses:
        "200":
          description: List of webhook endpoints
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      operationId: deleteWebhook
      summary: Deactivate webhook endpoint
      tags: [Webhooks]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Webhook endpoint deactivated
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        API key authentication. Format: `Bearer nawa_live_sk_xxx` (production)
        or `Bearer nawa_test_sk_xxx` (sandbox, 100 request cap).

  headers:
    X-Request-Id:
      description: Unique request identifier
      schema:
        type: string
    X-NAWA-Provider:
      description: AI provider used for this request
      schema:
        type: string
        enum: [allam, claude]
    X-NAWA-Cache:
      description: Whether the response was served from semantic cache
      schema:
        type: string
        enum: [HIT, MISS]
    X-NAWA-Latency:
      description: Processing time in milliseconds
      schema:
        type: integer
    X-NAWA-Balance:
      description: Current credit balance in USD
      schema:
        type: string
    X-RateLimit-Limit:
      description: Maximum requests allowed per minute for this tier
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Remaining requests in the current window
      schema:
        type: integer
    X-RateLimit-Reset:
      description: RFC 3339 timestamp when the rate limit window resets
      schema:
        type: string
        format: date-time

  schemas:
    # --- Success Envelopes ---

    ClassifySuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/ClassificationResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    TranslateSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/TranslateResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    DetectSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/DetectResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    ModerateSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/ModerateResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    RubricSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/RubricResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    ReplySuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/ReplyResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    FeedbackSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/FeedbackResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    CommentsListSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          type: object
          properties:
            comments:
              type: array
              items:
                $ref: "#/components/schemas/CommentItem"
            pagination:
              $ref: "#/components/schemas/Pagination"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    AnalyticsSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/AnalyticsResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    HealthSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/HealthResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    UsageSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/UsageResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    WebhookSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/WebhookEndpoint"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    WebhookListResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          type: object
          properties:
            object:
              type: string
              const: list
            data:
              type: array
              items:
                $ref: "#/components/schemas/WebhookEndpoint"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    # --- Domain Objects ---

    ClassificationResult:
      type: object
      required: [id, object, intent, sentiment, language, dialect, dialect_confidence, requires_response, priority, suggested_reply, provider, model, fallback_used, tokens_used, cost_usd, credits_used]
      properties:
        id:
          type: string
          description: Classification ID in `cls_nw_xxx` format
          examples:
            - "cls_nw_lx4cqy2j2o1o"
        object:
          type: string
          const: classification
        intent:
          type: array
          items:
            type: string
          description: |
            One or more intent labels. Typical values: `question`, `complaint`,
            `praise`, `suggestion`, `spam`, `other`. The array may contain multiple
            labels when a comment expresses more than one intent.
          examples:
            - ["question"]
            - ["complaint", "suggestion"]
        sentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
        language:
          type: string
          enum: [ar, en, mixed]
          description: Detected language of the input text
        dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
          description: |
            Currently hardcoded to `"gulf"` for any Arabic text on this endpoint;
            `null` for English. Full dialect detection runs only on `/v1/detect`
            and `/v1/translate` today. Use those endpoints when dialect
            correctness matters.
        dialect_confidence:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
          description: |
            Confidence score for Arabic text, `null` for English. Note: this is
            the NAGL intent classifier's internal confidence, not a
            dialect-specific score, until real dialect wiring lands.
        requires_response:
          type: boolean
          description: Whether the model judges this comment needs a reply
        priority:
          type: string
          enum: [low, medium, high]
          description: Recommended triage priority
        suggested_reply:
          type: object
          required: [text, direction]
          description: |
            NAGL's natural-language analysis note about the comment. The `text`
            field is the reasoning behind the classification, not a draft reply.
            Use `/v1/comments/reply` to generate an actual reply.
          properties:
            text:
              type: string
            direction:
              type: string
              enum: [rtl, ltr]
              description: Script direction for the text, for UI rendering
        provider:
          type: string
          enum: [claude, allam, gemini]
          description: AI provider that produced this result
        model:
          type: string
          description: Specific model ID (e.g. `claude-sonnet-4-5-20250929`)
        fallback_used:
          type: boolean
          description: True when the primary provider failed and a fallback produced this result
        tokens_used:
          type: integer
          nullable: true
          description: Currently always `null`. Token accounting is planned.
        cost_usd:
          type: number
          description: Fixed cost per call, always `0.006` for this endpoint
        credits_used:
          type: integer
          description: Fixed credit cost, always `6` for this endpoint

    TranslateResult:
      type: object
      required: [id, object, text, translated_text, source_language, target_language, tone, provider, model, fallback_used, cost_usd, credits_used, cached]
      properties:
        id:
          type: string
          description: Translation ID (trn_nw_xxx format)
        object:
          type: string
          const: translation
        text:
          type: string
          description: Original input text
        translated_text:
          type: string
          description: Translated output
        source_language:
          type: string
          enum: [ar, en]
        target_language:
          type: string
          enum: [ar, en]
        source_dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
          description: Detected dialect if source is Arabic
        target_dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
          description: Target dialect if target is Arabic
        tone:
          type: string
          enum: [formal, casual, social_media]
        provider:
          type: string
          description: "AI provider used (allam or claude)"
        model:
          type: string
        fallback_used:
          type: boolean
          description: Whether the fallback provider was used
        cached:
          type: boolean
        cost_usd:
          type: number
        credits_used:
          type: integer

    DetectResult:
      type: object
      required: [id, object, text, language, script, text_direction, word_count, fallback_used, cost_usd, credits_used, cached]
      properties:
        id:
          type: string
          description: Detection ID (det_nw_xxx format)
        object:
          type: string
          const: detection
        text:
          type: string
          description: The original input text
        language:
          type: string
          enum: [ar, en, mixed]
          description: Detected language
        dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
          description: Detected Arabic dialect. Null if not Arabic.
        dialect_confidence:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
          description: Confidence score for dialect detection. Null if not Arabic.
        script:
          type: string
          enum: [arabic, latin, mixed]
          description: Script type
        text_direction:
          type: string
          enum: [rtl, ltr]
          description: Text direction
        word_count:
          type: integer
          description: Number of words in the input text
        fallback_used:
          type: boolean
          description: Always false for this endpoint (local detection only)
        cost_usd:
          type: number
        credits_used:
          type: integer
        cached:
          type: boolean

    ModerateResult:
      type: object
      required: [id, object, text, is_safe, verdict, flags, severity, severity_score, language, categories, category_scores, flagged_terms, model, provider, fallback_used, cost_usd, credits_used, cached]
      properties:
        id:
          type: string
          description: Moderation ID (mod_nw_xxx format)
        object:
          type: string
          const: moderation
        text:
          type: string
          description: The original input text
        is_safe:
          type: boolean
          description: Whether the content passed moderation
        verdict:
          type: string
          enum: [safe, flagged]
        flags:
          type: array
          items:
            type: string
          description: List of triggered category names
        severity:
          type: string
          enum: [none, low, medium, high]
        severity_score:
          type: number
          minimum: 0
          maximum: 1
        language:
          type: string
          enum: [ar, en, mixed]
        dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
        categories:
          $ref: "#/components/schemas/ModerationCategories"
        category_scores:
          $ref: "#/components/schemas/ModerationCategoryScores"
        flagged_terms:
          type: array
          items:
            type: string
          description: Specific problematic words/phrases found
        cleaned_text:
          type: string
          nullable: true
          description: Text with flagged terms replaced by ***. Null if safe.
        model:
          type: string
        provider:
          type: string
          description: "AI provider used (allam or claude)"
        fallback_used:
          type: boolean
          description: Whether the fallback provider was used
        cost_usd:
          type: number
        credits_used:
          type: integer
        cached:
          type: boolean

    ModerationCategories:
      type: object
      properties:
        profanity:
          type: boolean
        hate_speech:
          type: boolean
        harassment:
          type: boolean
        sexual:
          type: boolean
        spam:
          type: boolean
        self_harm:
          type: boolean
        violence:
          type: boolean

    ModerationCategoryScores:
      type: object
      properties:
        profanity:
          type: number
          minimum: 0
          maximum: 1
        hate_speech:
          type: number
          minimum: 0
          maximum: 1
        harassment:
          type: number
          minimum: 0
          maximum: 1
        sexual:
          type: number
          minimum: 0
          maximum: 1
        spam:
          type: number
          minimum: 0
          maximum: 1
        self_harm:
          type: number
          minimum: 0
          maximum: 1
        violence:
          type: number
          minimum: 0
          maximum: 1

    RubricResult:
      type: object
      required: [id, object, categories, multi_label, language, provider, model, fallback_used, cost_usd, credits_used]
      properties:
        id:
          type: string
          description: Rubric classification ID in `rcl_nw_xxx` format
          examples:
            - "rcl_nw_a1b2c3d4e5f6"
        object:
          type: string
          const: rubric_classification
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Category name from the rubric
              confidence:
                type: number
                minimum: 0
                maximum: 1
                description: Confidence score for this category
          description: Matched categories above the confidence threshold
        multi_label:
          type: boolean
          description: Whether multi-label mode was used
        language:
          type: string
          enum: [ar, en, mixed]
          description: Detected language of the input text
        provider:
          type: string
          enum: [claude, allam, gemini]
          description: AI provider used
        model:
          type: string
          description: Specific model ID
        fallback_used:
          type: boolean
          description: Whether a fallback provider was used
        cost_usd:
          type: number
          description: Always `0.003` for this endpoint
        credits_used:
          type: integer
          description: Always `3` for this endpoint

    ReplyResult:
      type: object
      required: [id, object, classification, reply, provider, model, cost_usd, credits_used]
      properties:
        id:
          type: string
          description: Reply ID in `rpl_nw_xxx` format
          examples:
            - "rpl_nw_a1b2c3d4e5f6"
        object:
          type: string
          const: comment_reply
        classification:
          type: object
          description: Classification results for the input comment
          properties:
            intent:
              type: array
              items:
                type: string
              description: Detected intent labels
            sentiment:
              type: string
              enum: [positive, negative, neutral, mixed]
            priority:
              type: string
              enum: [low, medium, high]
            requires_response:
              type: boolean
        reply:
          type: object
          description: Generated reply
          properties:
            text:
              type: string
              description: The generated reply text
            direction:
              type: string
              enum: [rtl, ltr]
              description: Script direction for UI rendering
            tone:
              type: string
              enum: [friendly, professional, casual, formal]
        provider:
          type: string
          description: AI provider used
        model:
          type: string
          description: Specific model ID
        cost_usd:
          type: number
          description: Always `0.008` for this endpoint
        credits_used:
          type: integer
          description: Always `8` for this endpoint

    FeedbackInput:
      type: object
      required: [classification_id, rating]
      properties:
        classification_id:
          type: string
          description: |
            The `id` from the classification being corrected, e.g.
            `cls_nw_lx4cqy2j2o1o` returned by `/v1/classify`.
          examples:
            - "cls_nw_lx4cqy2j2o1o"
        rating:
          type: string
          enum: [correct, incorrect, partial]
          description: How accurate the original classification was
        corrected_intent:
          type: array
          items:
            type: string
          description: |
            The intent labels you believe the classification should have
            returned. Free-form strings; standard labels are `question`,
            `complaint`, `praise`, `suggestion`, `spam`, `other`.
        corrected_sentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
          description: What the sentiment should have been
        comment:
          type: string
          description: Optional free-text explanation of the correction

    FeedbackResult:
      type: object
      required: [id, object, classification_id, rating, acknowledged]
      properties:
        id:
          type: string
          description: Feedback record ID in `fb_nw_xxx` format
          examples:
            - "fb_nw_8k3r9vwxyz01"
        object:
          type: string
          const: feedback
        classification_id:
          type: string
          description: Echoed back from the request
        rating:
          type: string
          enum: [correct, incorrect, partial]
          description: Echoed back from the request
        acknowledged:
          type: boolean
          description: Always `true` on 200; confirms the feedback was persisted.

    CommentItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Database record ID
        request_id:
          type: string
          description: Original request ID from the classify call
        text:
          type: string
        platform:
          type: string
          enum: [youtube, instagram, twitter, facebook]
        intent:
          type: string
          enum: [question, complaint, praise, suggestion, spam, other]
        sentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
        dialect:
          type: string
          enum: [gulf, egyptian, levantine, msa]
        created_at:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        total:
          type: integer
          description: Total number of matching comments
        limit:
          type: integer
          description: Current page size
        offset:
          type: integer
          description: Current offset
        has_more:
          type: boolean
          description: Whether more results exist beyond the current page

    AnalyticsResult:
      type: object
      properties:
        analytics:
          type: object
          properties:
            total_requests:
              type: integer
              description: Total API requests in the period
            total_cost:
              type: number
              description: Total cost in USD
            cache_hits:
              type: integer
              description: Number of requests served from cache
            cache_hit_rate:
              type: number
              minimum: 0
              maximum: 1
              description: Ratio of cache hits to total requests
            avg_latency_ms:
              type: integer
              description: Average response latency in milliseconds
            success_rate:
              type: number
              minimum: 0
              maximum: 1
              description: Ratio of successful (2xx) responses
            error_count:
              type: integer
              description: Number of error (4xx/5xx) responses
            endpoint_distribution:
              type: object
              additionalProperties:
                type: integer
              description: Request counts per endpoint
            provider_distribution:
              type: object
              additionalProperties:
                type: integer
              description: Request counts per AI provider
            period:
              type: object
              properties:
                from:
                  type: string
                  format: date-time
                  nullable: true
                to:
                  type: string
                  format: date-time
                  nullable: true
        by_endpoint:
          type: array
          description: Breakdown grouped by the `group_by` query parameter. The key name changes to match the grouping (e.g. `by_day`, `by_provider`).
          items:
            type: object
            properties:
              endpoint:
                type: string
              requests:
                type: integer
              cost:
                type: number
              avg_latency_ms:
                type: integer

    HealthResult:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded]
          description: Overall API status. `healthy` when all services are healthy; `degraded` when any service is degraded or down.
        version:
          type: string
          description: API version (always `v1`)
        services:
          type: object
          properties:
            database:
              type: object
              properties:
                status:
                  type: string
                  enum: [healthy, degraded, down]
                latency_ms:
                  type: integer
                  description: Database query latency in milliseconds
            redis:
              type: object
              properties:
                status:
                  type: string
                  enum: [healthy, degraded, down]
                latency_ms:
                  type: integer
                  description: Redis ping latency in milliseconds
            nagl:
              type: object
              properties:
                status:
                  type: string
                  enum: [healthy, down]
                  description: Whether the NAGL classification engine is enabled
        timestamp:
          type: string
          format: date-time
        latency_ms:
          type: integer
          description: Total health check latency in milliseconds

    UsageResult:
      type: object
      properties:
        usage:
          type: object
          properties:
            total_requests:
              type: integer
              description: Total API requests in the period
            total_cost:
              type: number
              description: Total cost in USD
            cache_hits:
              type: integer
              description: Number of requests served from cache
            cache_hit_rate:
              type: number
              minimum: 0
              maximum: 1
              description: Ratio of cache hits to total requests
            period:
              type: object
              properties:
                from:
                  type: string
                  format: date-time
                  nullable: true
                to:
                  type: string
                  format: date-time
                  nullable: true
        by_endpoint:
          type: array
          description: Breakdown grouped by the `group_by` query parameter. When `group_by=day`, the key is `date` instead of `endpoint`.
          items:
            type: object
            properties:
              endpoint:
                type: string
                description: Endpoint path (when `group_by=endpoint`)
              date:
                type: string
                description: Calendar date YYYY-MM-DD (when `group_by=day`)
              requests:
                type: integer
              cost:
                type: number
              cache_hits:
                type: integer

    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
          format: uuid
        object:
          type: string
          const: webhook_endpoint
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        signing_secret:
          type: string
          description: HMAC signing secret (shown once at creation)
        active:
          type: boolean
        failure_count:
          type: integer
        created_at:
          type: string
          format: date-time

    # --- Error Envelope ---

    ErrorEnvelope:
      type: object
      required: [type, error, request_id]
      properties:
        type:
          type: string
          const: error
        error:
          type: object
          required: [type, code, message, display_message, param, doc_url, suggested_action]
          properties:
            type:
              type: string
              enum:
                - authentication_error
                - permission_error
                - rate_limit_error
                - invalid_request_error
                - not_found_error
                - api_error
            code:
              type: string
            message:
              type: string
            display_message:
              type: string
            param:
              type: string
              nullable: true
            doc_url:
              type: string
              format: uri
            suggested_action:
              type: string
        request_id:
          type: string

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: invalid_request_error
              code: missing_field
              message: "`text` is required"
              display_message: "The required field `text` is missing."
              param: text
              doc_url: https://developers.trynawa.com/errors#missing_required_param
              suggested_action: "Include `text` in your request body."
            request_id: req_nw_a1b2c3d4e5f67890

    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: authentication_error
              code: invalid_api_key
              message: API key not found
              display_message: The provided API key is not valid.
              param: Authorization
              doc_url: https://developers.trynawa.com/authentication
              suggested_action: Check your API key in the NAWA dashboard.
            request_id: req_nw_a1b2c3d4e5f67890

    PaymentRequired:
      description: Insufficient credits
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: permission_error
              code: insufficient_credits
              message: Credit balance is $0.00
              display_message: Your account has insufficient credits.
              param: null
              doc_url: https://developers.trynawa.com/billing
              suggested_action: Purchase credits at trynawa.com/developers/keys.
            request_id: req_nw_a1b2c3d4e5f67890

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until the rate limit resets
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: rate_limit_error
              code: rate_limit_exceeded
              message: "Rate limit exceeded: minute_limit"
              display_message: You have exceeded the request rate limit for your plan.
              param: null
              doc_url: https://developers.trynawa.com/rate-limits
              suggested_action: Wait and retry, or upgrade your plan for higher limits.
            request_id: req_nw_a1b2c3d4e5f67890

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
