openapi: 3.1.0
info:
  title: NAWA API
  version: 1.1.1
  description: |
    Arabic language intelligence API.
    تصنيف ذكي للمحتوى العربي -- من الخليج إلى المغرب.

    NAWA classifies Arabic and English text with dialect detection, sentiment analysis,
    intent classification, translation, content moderation, and automated reply generation.
  contact:
    name: NAWA Support
    email: support@trynawa.com
    url: https://trynawa.com
  license:
    name: Proprietary
    url: https://trynawa.com/terms

servers:
  - url: https://api.trynawa.com/v1
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Classification
    description: Text classification endpoints
  - name: Translation
    description: Arabic-English translation
  - name: Detection
    description: Language and dialect detection
  - name: Moderation
    description: Content moderation
  - name: Reply
    description: Comment reply generation
  - name: Feedback
    description: RLHF feedback ingestion
  - name: Comments
    description: Comment retrieval and filtering
  - name: Analytics
    description: Aggregated analytics
  - name: Usage
    description: API usage statistics
  - name: System
    description: Health and status
  - name: Webhooks
    description: Webhook management

paths:
  /classify:
    post:
      operationId: classify
      summary: Classify text
      description: |
        Classify Arabic or English text. Returns intent, sentiment, dialect, priority,
        and a suggested reply direction. Supports semantic caching and calibration.
      tags: [Classification]
      x-nawa-cost: "$0.006"
      x-nawa-cache: true
      x-nawa-free: false
      parameters:
        - name: provider
          in: query
          required: false
          description: Force a specific AI provider (for A/B testing)
          schema:
            type: string
            enum: [claude, gemini, allam]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  description: Text to classify
                  examples:
                    - "ماشاء الله الفيديو حلو مرة"
                    - "Great video, love the content!"
                context:
                  type: object
                  description: Optional context for classification
      responses:
        "200":
          description: Classification result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassifySuccessResponse"
              examples:
                arabic_gulf:
                  summary: Gulf Arabic praise
                  value:
                    success: true
                    result:
                      id: cls_nw_a1b2c3d4e5f6
                      object: classification
                      intent: [praise]
                      sentiment: positive
                      language: ar
                      dialect: gulf
                      dialect_confidence: 0.92
                      requires_response: false
                      priority: medium
                      suggested_reply:
                        text: "تعليق إيجابي يعبر عن إعجاب المستخدم بالمحتوى"
                        direction: rtl
                      provider: allam
                      model: sdaia/allam-1-13b-instruct
                      fallback_used: false
                      tokens_used: null
                      cost_usd: 0.006
                      credits_used: 6
                    errors: []
                    request_id: req_nw_a1b2c3d4e5f67890
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /translate:
    post:
      operationId: translate
      summary: Translate text
      description: |
        Translate text between English and Arabic with dialect awareness.
        Generates culturally appropriate translations in Gulf, Egyptian, Levantine, or MSA Arabic.
        Falls back to Claude Haiku 4.5 if ALLaM is unavailable.
      tags: [Translation]
      x-nawa-cost: "$0.005"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, target]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: Text to translate
                  examples:
                    - "Hello, how are you?"
                    - "وش رايكم بالمحتوى الجديد؟"
                source:
                  type: string
                  enum: [ar, en, auto]
                  default: auto
                  description: "Source language. Use `auto` to detect automatically."
                target:
                  type: string
                  enum: [ar, en]
                  description: Target language
                dialect:
                  type: string
                  enum: [gulf, egyptian, levantine, msa]
                  default: msa
                  description: "Target dialect for Arabic output"
                tone:
                  type: string
                  enum: [formal, casual, social_media]
                  default: formal
                  description: Translation tone
                platform:
                  type: string
                  enum: [youtube, instagram, twitter, facebook]
                  description: Source platform for social media tone context
            example:
              text: "Hello, how are you?"
              source: "en"
              target: "ar"
              dialect: "gulf"
              tone: "casual"
      responses:
        "200":
          description: Translation result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslateSuccessResponse"
              examples:
                en_to_gulf:
                  summary: English to Gulf Arabic (casual)
                  value:
                    success: true
                    result:
                      id: trn_nw_pon1yom9bkfe
                      object: translation
                      text: "Hello, how are you?"
                      translated_text: "هلا، كيف حالك؟"
                      source_language: en
                      target_language: ar
                      source_dialect: null
                      target_dialect: gulf
                      tone: casual
                      provider: allam
                      model: sdaia/allam-1-13b-instruct
                      fallback_used: false
                      tokens_used: null
                      cost_usd: 0.005
                      credits_used: 5
                      cached: false
                    errors: []
                    request_id: req_nw_4c11w71e44cb
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /detect:
    post:
      operationId: detectLanguage
      summary: Detect language and dialect
      description: |
        Detect language, dialect, script, and text direction from any text input.
        Uses local NAGL modules only -- no external AI call. Returns in under 100ms.
      tags: [Detection]
      x-nawa-cost: "$0.002"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: The text to detect
                  examples:
                    - "وش رايكم بالمحتوى الجديد؟"
                    - "This is a great video"
            example:
              text: "وش رايكم بالمحتوى الجديد؟"
      responses:
        "200":
          description: Detection result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DetectSuccessResponse"
              examples:
                gulf_arabic:
                  summary: Gulf Arabic detection
                  value:
                    success: true
                    result:
                      id: det_nw_pon1yom9bkfe
                      object: detection
                      text: "وش رايكم بالمحتوى الجديد؟"
                      language: ar
                      dialect: gulf
                      dialect_confidence: 0.95
                      script: arabic
                      text_direction: rtl
                      word_count: 4
                      fallback_used: false
                      cost_usd: 0.002
                      credits_used: 2
                      cached: false
                    errors: []
                    request_id: req_nw_det1a2b3c4d5e
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /moderate:
    post:
      operationId: moderateContent
      summary: Moderate content
      description: |
        Dialect-aware Arabic content moderation. Understands profanity, slang, and
        offensive language differences across Gulf, Egyptian, Levantine, and MSA Arabic.
        Falls back to Claude Haiku 4.5 if ALLaM is unavailable.
      tags: [Moderation]
      x-nawa-cost: "$0.004"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: The text to moderate
                  examples:
                    - "هذا محتوى رائع جدا"
                strictness:
                  type: string
                  enum: [low, medium, high]
                  default: medium
                  description: "Moderation strictness. low: severe only. medium: moderate+severe. high: all problematic."
                context:
                  type: string
                  description: "Where the text appears (e.g. youtube comment, product review)"
                platform:
                  type: string
                  enum: [youtube, instagram, twitter, facebook]
                  description: Source platform
            example:
              text: "هذا محتوى رائع جدا"
              strictness: "medium"
      responses:
        "200":
          description: Moderation result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerateSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /rubric/classify:
    post:
      operationId: rubricClassify
      summary: Classify with custom rubric
      description: |
        Classify text against a user-defined rubric. Supports multi-label classification
        and configurable confidence thresholds.
      tags: [Classification]
      x-nawa-cost: "$0.003"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: provider
          in: query
          required: false
          schema:
            type: string
            enum: [claude, gemini, allam]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, rubric]
              properties:
                text:
                  type: string
                  minLength: 1
                  description: Text to classify
                rubric:
                  $ref: "#/components/schemas/Rubric"
      responses:
        "200":
          description: Rubric classification result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RubricSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /comments/reply:
    post:
      operationId: commentsReply
      summary: Classify and generate reply
      description: |
        Classify a comment and generate a contextual reply in a single call.
        Supports tone control, max length configuration, and brand voice context.
      tags: [Reply]
      x-nawa-cost: "$0.008"
      x-nawa-cache: false
      x-nawa-free: false
      parameters:
        - name: provider
          in: query
          required: false
          schema:
            type: string
            enum: [claude, gemini, allam]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  description: Comment text to classify and reply to
                tone:
                  type: string
                  enum: [friendly, professional, casual, formal]
                  default: professional
                max_length:
                  type: integer
                  minimum: 1
                  maximum: 2000
                  default: 500
                context:
                  type: object
                  properties:
                    platform:
                      type: string
                    brand_voice:
                      type: string
      responses:
        "200":
          description: Classification and reply result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplySuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /feedback:
    post:
      operationId: submitFeedback
      summary: Submit classification feedback
      description: |
        Submit feedback on a classification result. Free for all tiers.
        Used for RLHF-based model improvement.
      tags: [Feedback]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackInput"
      responses:
        "200":
          description: Feedback acknowledged
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedbackSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /comments:
    get:
      operationId: listComments
      summary: List classified comments
      description: |
        Retrieve classified comments with filtering and pagination. Free endpoint.
      tags: [Comments]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: platform
          in: query
          required: false
          schema:
            type: string
            enum: [youtube, instagram, twitter, facebook]
        - name: intent
          in: query
          required: false
          schema:
            type: string
            enum: [question, complaint, praise, suggestion, spam, other]
        - name: sentiment
          in: query
          required: false
          schema:
            type: string
            enum: [positive, negative, neutral, mixed]
        - name: dialect
          in: query
          required: false
          schema:
            type: string
            enum: [gulf, egyptian, levantine, msa]
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: List of classified comments
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentsListSuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /analytics:
    get:
      operationId: getAnalytics
      summary: Get analytics
      description: |
        Retrieve aggregated analytics on request counts, costs, cache hit rates,
        and provider distribution. Free endpoint.
      tags: [Analytics]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum: [endpoint, day, provider]
            default: endpoint
      responses:
        "200":
          description: Analytics data
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: |
        Check the operational status of the NAWA API and its dependencies.
        No authentication required.
      tags: [System]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      security: []
      responses:
        "200":
          description: All services healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "503":
          description: One or more services degraded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"

  /usage:
    get:
      operationId: getUsage
      summary: Get usage statistics
      description: |
        Retrieve API usage statistics including request counts, credit consumption,
        and cache hit rates. Free endpoint.
      tags: [Usage]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum: [endpoint, day]
            default: endpoint
      responses:
        "200":
          description: Usage statistics
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageSuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /webhooks:
    post:
      operationId: createWebhook
      summary: Create webhook endpoint
      description: Register a new webhook endpoint for event notifications.
      tags: [Webhooks]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                  description: HTTPS endpoint URL
                events:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    enum:
                      - classification.completed
                      - classification.failed
                      - credits.low
                      - credits.exhausted
      responses:
        "201":
          description: Webhook endpoint created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
    get:
      operationId: listWebhooks
      summary: List webhook endpoints
      tags: [Webhooks]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      responses:
        "200":
          description: List of webhook endpoints
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      operationId: deleteWebhook
      summary: Deactivate webhook endpoint
      tags: [Webhooks]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Webhook endpoint deactivated
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        API key authentication. Format: `Bearer nawa_live_sk_xxx` (production)
        or `Bearer nawa_test_sk_xxx` (sandbox, 100 request cap).

  headers:
    X-Request-Id:
      description: Unique request identifier
      schema:
        type: string
    X-NAWA-Provider:
      description: AI provider used for this request
      schema:
        type: string
        enum: [allam, claude, gemini]
    X-NAWA-Cache:
      description: Whether the response was served from semantic cache
      schema:
        type: string
        enum: [HIT, MISS]
    X-NAWA-Balance:
      description: Current credit balance in USD
      schema:
        type: string
    X-RateLimit-Limit:
      description: Maximum requests allowed per minute for this tier
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Remaining requests in the current window
      schema:
        type: integer
    X-RateLimit-Reset:
      description: RFC 3339 timestamp when the rate limit window resets
      schema:
        type: string
        format: date-time

  schemas:
    # --- Success Envelopes ---

    ClassifySuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/ClassificationResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    TranslateSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/TranslateResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    DetectSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/DetectResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    ModerateSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/ModerateResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    RubricSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/RubricResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    ReplySuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/ReplyResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    FeedbackSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/FeedbackResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    CommentsListSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          type: object
          properties:
            comments:
              type: array
              items:
                $ref: "#/components/schemas/CommentItem"
            pagination:
              $ref: "#/components/schemas/Pagination"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    AnalyticsSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/AnalyticsResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    UsageSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/UsageResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    WebhookSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/WebhookEndpoint"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    WebhookListResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          type: object
          properties:
            object:
              type: string
              const: list
            data:
              type: array
              items:
                $ref: "#/components/schemas/WebhookEndpoint"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    # --- Domain Objects ---

    ClassificationResult:
      type: object
      required: [id, object, intent, sentiment, language, requires_response, priority, provider, model, cost_usd, credits_used]
      properties:
        id:
          type: string
          description: Classification ID (cls_nw_xxx format)
        object:
          type: string
          const: classification
        intent:
          type: array
          items:
            type: string
          description: Detected intents
        sentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
        language:
          type: string
          enum: [ar, en, mixed]
        dialect:
          type: string
          nullable: true
        dialect_confidence:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
        requires_response:
          type: boolean
        priority:
          type: string
          enum: [high, medium, low]
        suggested_reply:
          type: object
          properties:
            text:
              type: string
            direction:
              type: string
              enum: [ltr, rtl]
        provider:
          type: string
          enum: [claude, gemini, allam]
        model:
          type: string
        fallback_used:
          type: boolean
        tokens_used:
          type: integer
          nullable: true
        cost_usd:
          type: number
        credits_used:
          type: integer

    TranslateResult:
      type: object
      required: [id, object, text, translated_text, source_language, target_language, tone, provider, model, fallback_used, cost_usd, credits_used, cached]
      properties:
        id:
          type: string
        object:
          type: string
          const: translation
        text:
          type: string
        translated_text:
          type: string
        source_language:
          type: string
          enum: [ar, en]
        target_language:
          type: string
          enum: [ar, en]
        source_dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
        target_dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
        tone:
          type: string
          enum: [formal, casual, social_media]
        provider:
          type: string
        model:
          type: string
        fallback_used:
          type: boolean
        tokens_used:
          type: integer
          nullable: true
        cached:
          type: boolean
        cost_usd:
          type: number
        credits_used:
          type: integer

    DetectResult:
      type: object
      required: [id, object, text, language, script, text_direction, word_count, fallback_used, cost_usd, credits_used, cached]
      properties:
        id:
          type: string
        object:
          type: string
          const: detection
        text:
          type: string
        language:
          type: string
          enum: [ar, en, mixed]
        dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
        dialect_confidence:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
        script:
          type: string
          enum: [arabic, latin, mixed]
        text_direction:
          type: string
          enum: [rtl, ltr]
        word_count:
          type: integer
        fallback_used:
          type: boolean
        cost_usd:
          type: number
        credits_used:
          type: integer
        cached:
          type: boolean

    ModerateResult:
      type: object
      required: [id, object, text, is_safe, verdict, flags, severity, severity_score, language, categories, category_scores, flagged_terms, model, provider, fallback_used, cost_usd, credits_used, cached]
      properties:
        id:
          type: string
        object:
          type: string
          const: moderation
        text:
          type: string
        is_safe:
          type: boolean
        verdict:
          type: string
          enum: [safe, flagged]
        flags:
          type: array
          items:
            type: string
        severity:
          type: string
          enum: [none, low, medium, high]
        severity_score:
          type: number
          minimum: 0
          maximum: 1
        language:
          type: string
          enum: [ar, en, mixed]
        dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
        categories:
          type: object
          properties:
            profanity:
              type: boolean
            hate_speech:
              type: boolean
            harassment:
              type: boolean
            sexual:
              type: boolean
            spam:
              type: boolean
            self_harm:
              type: boolean
            violence:
              type: boolean
        category_scores:
          type: object
          properties:
            profanity:
              type: number
            hate_speech:
              type: number
            harassment:
              type: number
            sexual:
              type: number
            spam:
              type: number
            self_harm:
              type: number
            violence:
              type: number
        flagged_terms:
          type: array
          items:
            type: string
        cleaned_text:
          type: string
          nullable: true
        model:
          type: string
        provider:
          type: string
        fallback_used:
          type: boolean
        cost_usd:
          type: number
        credits_used:
          type: integer
        cached:
          type: boolean

    RubricResult:
      type: object
      required: [id, object, categories, multi_label, language, provider, model, cost_usd, credits_used]
      properties:
        id:
          type: string
        object:
          type: string
          const: rubric_classification
        categories:
          type: array
          items:
            type: object
            required: [name, confidence]
            properties:
              name:
                type: string
              confidence:
                type: number
                minimum: 0
                maximum: 1
        multi_label:
          type: boolean
        language:
          type: string
        provider:
          type: string
        model:
          type: string
        fallback_used:
          type: boolean
        cost_usd:
          type: number
        credits_used:
          type: integer

    ReplyResult:
      type: object
      required: [id, object, classification, reply, provider, model, cost_usd, credits_used]
      properties:
        id:
          type: string
        object:
          type: string
          const: comment_reply
        classification:
          type: object
          properties:
            intent:
              type: array
              items:
                type: string
            sentiment:
              type: string
            priority:
              type: string
            requires_response:
              type: boolean
        reply:
          type: object
          properties:
            text:
              type: string
            direction:
              type: string
              enum: [ltr, rtl]
            tone:
              type: string
        provider:
          type: string
        model:
          type: string
        cost_usd:
          type: number
        credits_used:
          type: integer

    FeedbackInput:
      type: object
      required: [classification_id, rating]
      properties:
        classification_id:
          type: string
          description: The cls_nw_xxx ID from a classify response
        rating:
          type: string
          enum: [correct, incorrect, partial]
        corrected_intent:
          type: array
          items:
            type: string
        corrected_sentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
        comment:
          type: string

    FeedbackResult:
      type: object
      required: [id, object, classification_id, rating, acknowledged]
      properties:
        id:
          type: string
        object:
          type: string
          const: feedback
        classification_id:
          type: string
        rating:
          type: string
        acknowledged:
          type: boolean
          const: true

    CommentItem:
      type: object
      properties:
        id:
          type: string
        request_id:
          type: string
        text:
          type: string
        platform:
          type: string
          enum: [youtube, instagram, twitter, facebook]
        intent:
          type: string
        sentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
        dialect:
          type: string
          enum: [gulf, egyptian, levantine, msa]
        created_at:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        has_more:
          type: boolean

    AnalyticsResult:
      type: object
      properties:
        analytics:
          type: object
          properties:
            total_requests:
              type: integer
            total_cost:
              type: number
            cache_hits:
              type: integer
            cache_hit_rate:
              type: number
            avg_latency_ms:
              type: integer
            success_rate:
              type: number
            error_count:
              type: integer
            endpoint_distribution:
              type: object
              additionalProperties:
                type: integer
            provider_distribution:
              type: object
              additionalProperties:
                type: integer
            period:
              type: object
              properties:
                from:
                  type: string
                  format: date-time
                  nullable: true
                to:
                  type: string
                  format: date-time
                  nullable: true

    HealthStatus:
      type: object
      required: [status, version, services, timestamp]
      properties:
        status:
          type: string
          enum: [healthy, degraded]
        version:
          type: string
          const: v1
        services:
          type: object
          properties:
            database:
              $ref: "#/components/schemas/ServiceStatus"
            redis:
              $ref: "#/components/schemas/ServiceStatus"
            nagl:
              $ref: "#/components/schemas/ServiceStatus"
        timestamp:
          type: string
          format: date-time
        latency_ms:
          type: integer

    ServiceStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, down]
        latency_ms:
          type: integer

    UsageResult:
      type: object
      properties:
        usage:
          type: object
          properties:
            total_requests:
              type: integer
            total_cost:
              type: number
            cache_hits:
              type: integer
            cache_hit_rate:
              type: number
            period:
              type: object
              properties:
                from:
                  type: string
                  format: date-time
                  nullable: true
                to:
                  type: string
                  format: date-time
                  nullable: true

    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
          format: uuid
        object:
          type: string
          const: webhook_endpoint
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        signing_secret:
          type: string
          description: HMAC signing secret (shown once at creation)
        active:
          type: boolean
        failure_count:
          type: integer
        created_at:
          type: string
          format: date-time

    Rubric:
      type: object
      required: [categories]
      properties:
        categories:
          type: array
          minItems: 1
          maxItems: 20
          items:
            type: object
            required: [name]
            properties:
              name:
                type: string
              description:
                type: string
        multi_label:
          type: boolean
          default: false
        confidence_threshold:
          type: number
          minimum: 0
          maximum: 1
          default: 0.5

    # --- Error Envelope ---

    ErrorEnvelope:
      type: object
      required: [type, error, request_id]
      properties:
        type:
          type: string
          const: error
        error:
          type: object
          required: [type, code, message, display_message, param, doc_url, suggested_action]
          properties:
            type:
              type: string
              enum:
                - authentication_error
                - permission_error
                - rate_limit_error
                - invalid_request_error
                - not_found_error
                - api_error
            code:
              type: string
            message:
              type: string
            display_message:
              type: string
            param:
              type: string
              nullable: true
            doc_url:
              type: string
              format: uri
            suggested_action:
              type: string
        request_id:
          type: string

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: invalid_request_error
              code: missing_field
              message: "`text` is required"
              display_message: "The required field `text` is missing."
              param: text
              doc_url: https://developers.trynawa.com/errors#missing_required_param
              suggested_action: "Include `text` in your request body."
            request_id: req_nw_a1b2c3d4e5f67890

    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: authentication_error
              code: invalid_api_key
              message: API key not found
              display_message: The provided API key is not valid.
              param: Authorization
              doc_url: https://developers.trynawa.com/authentication
              suggested_action: Check your API key in the NAWA dashboard.
            request_id: req_nw_a1b2c3d4e5f67890

    PaymentRequired:
      description: Insufficient credits
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: permission_error
              code: insufficient_credits
              message: Credit balance is $0.00
              display_message: Your account has insufficient credits.
              param: null
              doc_url: https://developers.trynawa.com/billing
              suggested_action: Purchase credits at trynawa.com/developers/keys.
            request_id: req_nw_a1b2c3d4e5f67890

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until the rate limit resets
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: rate_limit_error
              code: rate_limit_exceeded
              message: "Rate limit exceeded: minute_limit"
              display_message: You have exceeded the request rate limit for your plan.
              param: null
              doc_url: https://developers.trynawa.com/rate-limits
              suggested_action: Wait and retry, or upgrade your plan for higher limits.
            request_id: req_nw_a1b2c3d4e5f67890

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
