openapi: 3.1.0
info:
  title: NAWA API
  version: 1.1.1
  description: |
    Arabic language intelligence API.
    تصنيف ذكي للمحتوى العربي  -  من الخليج إلى المغرب.

    NAWA classifies Arabic and English text with dialect detection, sentiment analysis,
    intent classification, translation, content moderation, and automated reply generation.
  contact:
    name: NAWA Support
    email: support@trynawa.com
    url: https://trynawa.com
  license:
    name: Proprietary
    url: https://trynawa.com/terms

servers:
  - url: https://api.trynawa.com/v1
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Classification
    description: Text classification endpoints
  - name: Translation
    description: Arabic-English translation
  - name: Detection
    description: Language and dialect detection
  - name: Moderation
    description: Content moderation
  - name: Reply
    description: Comment reply generation
  - name: Intelligence
    description: Audience intelligence reports
  - name: Feedback
    description: RLHF feedback ingestion
  - name: Comments
    description: Comment retrieval and filtering
  - name: Analytics
    description: Aggregated analytics
  - name: Usage
    description: API usage statistics
  - name: System
    description: Health and status
  - name: Webhooks
    description: Webhook management

paths:
  /classify:
    post:
      operationId: classify
      summary: Classify text
      description: |
        Classify Arabic or English text. Returns intent, sentiment, dialect, toxicity,
        and categories in a single API call. Supports semantic caching.
      tags: [Classification]
      x-nawa-cost: "$0.006"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: The comment text to classify
                  examples:
                    - "متى الجزء الثاني؟"
                    - "ما شاء الله عليك، محتوى رهيب!"
                platform:
                  type: string
                  enum: [youtube, instagram, twitter, facebook]
                  description: Source platform for context-aware classification
                channel_id:
                  type: string
                  description: Your channel or account identifier for analytics grouping
                metadata:
                  type: object
                  description: Arbitrary key-value metadata to attach to the classification
            example:
              text: "متى الجزء الثاني؟"
              platform: "youtube"
              channel_id: "ch_123"
      responses:
        "200":
          description: Classification result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassifySuccessResponse"
              examples:
                gulf_question:
                  summary: Gulf Arabic question
                  value:
                    success: true
                    result:
                      text: "متى الجزء الثاني؟"
                      intent: question
                      intent_confidence: 0.97
                      sentiment: neutral
                      sentiment_confidence: 0.91
                      dialect: gulf
                      dialect_confidence: 0.95
                      toxicity: none
                      toxicity_confidence: 0.99
                      categories: ["engagement"]
                      language: ar
                      model: nagl-v1
                      cached: false
                    errors: []
                    request_id: req_nw_a1b2c3d4e5f67890
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /translate:
    post:
      operationId: translate
      summary: Translate text
      description: |
        Translate text between English and Arabic with dialect awareness.
        Generates culturally appropriate translations in Gulf, Egyptian, Levantine, or MSA Arabic.
        Falls back to Claude Haiku 4.5 if ALLaM is unavailable.
      tags: [Translation]
      x-nawa-cost: "$0.005"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, target]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: Text to translate
                  examples:
                    - "Hello, how are you?"
                    - "وش رايكم بالمحتوى الجديد؟"
                source:
                  type: string
                  enum: [ar, en, auto]
                  default: auto
                  description: "Source language. Use `auto` to detect automatically."
                target:
                  type: string
                  enum: [ar, en]
                  description: Target language
                dialect:
                  type: string
                  enum: [gulf, egyptian, levantine, msa]
                  default: msa
                  description: "Target dialect for Arabic output"
                tone:
                  type: string
                  enum: [formal, casual, social_media]
                  default: formal
                  description: Translation tone
                platform:
                  type: string
                  enum: [youtube, instagram, twitter, facebook]
                  description: Source platform for social media tone context
                metadata:
                  type: object
                  description: Arbitrary key-value metadata
            example:
              text: "Hello, how are you?"
              source: "en"
              target: "ar"
              dialect: "gulf"
              tone: "casual"
      responses:
        "200":
          description: Translation result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslateSuccessResponse"
              examples:
                en_to_gulf:
                  summary: English to Gulf Arabic (casual)
                  value:
                    success: true
                    result:
                      id: trn_nw_pon1yom9bkfe
                      object: translation
                      text: "Hello, how are you?"
                      translated_text: "هلا، كيف حالك؟"
                      source_language: en
                      target_language: ar
                      source_dialect: null
                      target_dialect: gulf
                      tone: casual
                      provider: allam
                      model: sdaia/allam-1-13b-instruct
                      fallback_used: false
                      cached: false
                      cost_usd: 0.005
                      credits_used: 5
                    errors: []
                    request_id: req_nw_4c11w71e44cb
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /detect:
    post:
      operationId: detectLanguage
      summary: Detect language and dialect
      description: |
        Detect language, dialect, script, and text direction from any text input.
        Uses local NAGL modules only -- no external AI call. Returns in under 100ms.
      tags: [Detection]
      x-nawa-cost: "$0.002"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: The text to detect
                  examples:
                    - "وش رايكم بالمحتوى الجديد؟"
                    - "This is a great video"
            example:
              text: "وش رايكم بالمحتوى الجديد؟"
      responses:
        "200":
          description: Detection result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DetectSuccessResponse"
              examples:
                gulf_arabic:
                  summary: Gulf Arabic detection
                  value:
                    success: true
                    result:
                      id: det_nw_pon1yom9bkfe
                      object: detection
                      text: "وش رايكم بالمحتوى الجديد؟"
                      language: ar
                      dialect: gulf
                      dialect_confidence: 0.95
                      script: arabic
                      text_direction: rtl
                      word_count: 4
                      fallback_used: false
                      cost_usd: 0.002
                      credits_used: 2
                      cached: false
                    errors: []
                    request_id: req_nw_det1a2b3c4d5e
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /moderate:
    post:
      operationId: moderateContent
      summary: Moderate content
      description: |
        Dialect-aware Arabic content moderation. Understands profanity, slang, and
        offensive language differences across Gulf, Egyptian, Levantine, and MSA Arabic.
        Falls back to Claude Haiku 4.5 if ALLaM is unavailable.
      tags: [Moderation]
      x-nawa-cost: "$0.004"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: The text to moderate
                  examples:
                    - "هذا محتوى رائع جدا"
                strictness:
                  type: string
                  enum: [low, medium, high]
                  default: medium
                  description: "Moderation strictness. low: severe only. medium: moderate+severe. high: all problematic."
                context:
                  type: string
                  description: "Where the text appears (e.g. youtube comment, product review)"
                platform:
                  type: string
                  enum: [youtube, instagram, twitter, facebook]
                  description: Source platform
            example:
              text: "هذا محتوى رائع جدا"
              strictness: "medium"
      responses:
        "200":
          description: Moderation result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerateSuccessResponse"
              examples:
                safe_content:
                  summary: Safe Arabic content
                  value:
                    success: true
                    result:
                      id: mod_nw_pon1yom9bkfe
                      object: moderation
                      text: "هذا محتوى رائع جدا"
                      is_safe: true
                      verdict: safe
                      flags: []
                      severity: none
                      severity_score: 0.0
                      language: ar
                      dialect: gulf
                      categories:
                        profanity: false
                        hate_speech: false
                        harassment: false
                        sexual: false
                        spam: false
                        self_harm: false
                        violence: false
                      category_scores:
                        profanity: 0.01
                        hate_speech: 0.00
                        harassment: 0.02
                        sexual: 0.00
                        spam: 0.05
                        self_harm: 0.00
                        violence: 0.01
                      flagged_terms: []
                      cleaned_text: null
                      model: nagl-v1
                      provider: allam
                      fallback_used: false
                      cached: false
                      cost_usd: 0.004
                      credits_used: 4
                    errors: []
                    request_id: req_nw_mod1a2b3c4d5e
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /rubric/classify:
    post:
      operationId: rubricClassify
      summary: Classify with custom rubric
      description: |
        Classify text against a user-defined rubric. Define your own categories and
        scoring criteria for domain-specific classification.
      tags: [Classification]
      x-nawa-cost: "$0.003"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, rubric]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: The comment text to classify
                  examples:
                    - "وين الترجمة العربية؟ مافهمت شي"
                rubric:
                  type: object
                  required: [categories]
                  properties:
                    categories:
                      type: array
                      minItems: 1
                      maxItems: 20
                      items:
                        type: string
                      description: List of category names to classify against
                    descriptions:
                      type: object
                      additionalProperties:
                        type: string
                      description: Category descriptions to guide the model
                platform:
                  type: string
                  enum: [youtube, instagram, twitter, facebook]
                  description: Source platform for context
            example:
              text: "وين الترجمة العربية؟ مافهمت شي"
              rubric:
                categories: ["translation_request", "technical_issue", "content_feedback", "off_topic"]
                descriptions:
                  translation_request: "User is asking for subtitles or translation"
                  technical_issue: "Audio, video, or playback problems"
                  content_feedback: "Comments about the content quality"
                  off_topic: "Not related to the video"
              platform: "youtube"
      responses:
        "200":
          description: Rubric classification result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RubricSuccessResponse"
              examples:
                translation_request:
                  summary: Gulf Arabic translation request
                  value:
                    success: true
                    result:
                      text: "وين الترجمة العربية؟ مافهمت شي"
                      category: translation_request
                      category_confidence: 0.94
                      scores:
                        translation_request: 0.94
                        technical_issue: 0.03
                        content_feedback: 0.02
                        off_topic: 0.01
                      dialect: gulf
                      dialect_confidence: 0.91
                      language: ar
                      model: nagl-v1
                      cached: false
                    errors: []
                    request_id: req_rub123abc456
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /comments/{id}/reply:
    post:
      operationId: generateReply
      summary: Generate reply to comment
      description: |
        Generate a culturally-aware, dialect-matched reply to an Arabic comment.
        Replies match the commenter's dialect and are contextually appropriate.
      tags: [Reply]
      x-nawa-cost: "$0.008"
      x-nawa-cache: true
      x-nawa-free: false
      parameters:
        - name: id
          in: path
          required: true
          description: The comment ID to reply to
          schema:
            type: string
            examples:
              - "cmt_abc123"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                tone:
                  type: string
                  enum: [friendly, professional, casual, formal]
                  default: friendly
                  description: Reply tone
                max_length:
                  type: integer
                  minimum: 1
                  maximum: 2000
                  default: 500
                  description: Maximum reply length in characters
                context:
                  type: string
                  description: Additional context about the channel or video
                language:
                  type: string
                  enum: [ar, en, auto]
                  default: auto
                  description: "Force reply language. Default: auto (matches commenter's language)."
            example:
              tone: "friendly"
              context: "Tech review channel focused on smartphones"
      responses:
        "200":
          description: Generated reply
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplySuccessResponse"
              examples:
                gulf_reply:
                  summary: Friendly reply to Gulf Arabic question
                  value:
                    success: true
                    result:
                      comment_id: cmt_abc123
                      reply_text: "إن شاء الله الجزء الثاني قريب! تابعنا عشان ما يفوتك 🔔"
                      reply_dialect: gulf
                      tone: friendly
                      original_intent: question
                      original_dialect: gulf
                    errors: []
                    request_id: req_rep789xyz012
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /report:
    post:
      operationId: generateReport
      summary: Generate audience intelligence report
      description: |
        Generate a structured audience intelligence report from an array of comments.
        Returns markdown and parsed JSON sections. Pro tier includes additional sections
        (repeat commenter analysis, content brief, cross-video narrative tracking).

        Reports open with a TL;DR verdict, use plain-English section titles, and tag
        every percentage as COUNT (exact from data) or ESTIMATE (analyst judgement).
        Any percentage the model leaves untagged is stamped UNVERIFIED by post-processing.

        Requires a live API key. Free/sandbox keys are blocked (minimum cost is 500 credits).
        Rate limited to 5 reports per minute and 20 reports per day.
      tags: [Intelligence]
      x-nawa-cost: "$0.50 (basic) / $1.50 (pro)"
      x-nawa-cache: false
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [comments]
              properties:
                comments:
                  type: array
                  minItems: 10
                  maxItems: 500
                  items:
                    type: object
                    required: [text]
                    properties:
                      text:
                        type: string
                        description: Comment text content
                      author:
                        type: string
                        description: Comment author name or handle
                      likes:
                        type: integer
                        description: Like/upvote count
                      created_at:
                        type: string
                        format: date-time
                        description: Comment creation timestamp
                  description: Array of comments to analyze (10-500)
                tier:
                  type: string
                  enum: [basic, pro]
                  default: basic
                  description: |
                    Report tier. Basic (500 credits, $0.50): 8 sections.
                    Pro (1500 credits, $1.50): 10 sections with repeat commenter
                    analysis, content brief, and cross-video tracking.
                title:
                  type: string
                  description: Video or content title for context
                  examples:
                    - "How to Build a YouTube Community in 2026"
                channel_context:
                  type: string
                  description: Optional channel description or context for more targeted analysis
            example:
              comments:
                - text: "This is exactly what I needed to hear, thank you!"
                  author: "@grateful_viewer"
                  likes: 42
                - text: "Can you do a follow-up on the Arabic market?"
                  author: "@mena_fan"
                  likes: 18
                - text: "I disagree with your take on algorithm changes"
                  author: "@skeptic_99"
                  likes: 7
              tier: "pro"
              title: "YouTube Algorithm Deep Dive 2026"
      responses:
        "200":
          description: Intelligence report generated
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Latency:
              $ref: "#/components/headers/X-NAWA-Latency"
            X-NAWA-Tier:
              schema:
                type: string
                enum: [basic, pro]
              description: Report tier that was generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportSuccessResponse"
              examples:
                pro_report:
                  summary: Pro tier intelligence report
                  value:
                    type: success
                    data:
                      id: "rpt_nw_a1b2c3d4e5f67890"
                      object: intelligence_report
                      tier: pro
                      report_markdown: "## TL;DR\n**Your audience is growing but fragile...**\n\n## I. What Happened\n..."
                      sections:
                        tldr: "**Your audience is growing but fragile...**"
                        executive_summary: "| Metric | Value |..."
                        clusters: "### Fear-Driven Workers ESCALATING ..."
                        narratives: "| Narrative | Strength (%) | ..."
                        sentiment: "| Sentiment | Count | % |..."
                        headline_finding: "**The One Finding That Matters:** ..."
                        top_commenters: "| Rank | Handle | Likes | ..."
                        spam_detected: "No coordinated spam detected."
                        recommendations: "1. **Engage your superfans directly**..."
                        channel_health: "| Signal | Status | Note | ..."
                        repeat_commenters: "| Handle | Comment Count | ..."
                        content_brief: "### Episode Concepts ..."
                      comments_analyzed: 150
                      cost_usd: 1.50
                      credits_used: 1500
                    request_id: "req_nw_a1b2c3d4e5f67890abcdef12"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /feedback:
    post:
      operationId: submitFeedback
      summary: Submit classification feedback
      description: |
        Submit feedback on a classification result to improve NAWA's accuracy.
        Free for all tiers. Used for RLHF-based model improvement.
      tags: [Feedback]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackInput"
            example:
              request_id: "req_abc123def456"
              field: "dialect"
              expected_value: "levantine"
              comment: "This is Lebanese Arabic, not Gulf"
      responses:
        "200":
          description: Feedback accepted
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedbackSuccessResponse"
              examples:
                accepted:
                  summary: Feedback accepted
                  value:
                    success: true
                    result:
                      feedback_id: fb_xyz789
                      status: accepted
                      message: "Thank you! Your feedback helps improve NAWA's accuracy."
                    errors: []
                    request_id: req_fb_abc123
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /comments:
    get:
      operationId: listComments
      summary: List classified comments
      description: |
        Retrieve classified comments with filtering and pagination. Free endpoint.
      tags: [Comments]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: channel_id
          in: query
          required: false
          schema:
            type: string
          description: Filter by channel ID
        - name: platform
          in: query
          required: false
          schema:
            type: string
            enum: [youtube, instagram, twitter, facebook]
          description: Filter by platform
        - name: intent
          in: query
          required: false
          schema:
            type: string
            enum: [question, complaint, praise, suggestion, spam, other]
          description: Filter by intent
        - name: sentiment
          in: query
          required: false
          schema:
            type: string
            enum: [positive, negative, neutral, mixed]
          description: Filter by sentiment
        - name: dialect
          in: query
          required: false
          schema:
            type: string
            enum: [gulf, egyptian, levantine, msa]
          description: Filter by dialect
        - name: toxicity
          in: query
          required: false
          schema:
            type: string
            enum: [none, mild, moderate, severe]
          description: Filter by toxicity
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Start date (ISO 8601)
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: End date (ISO 8601)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          description: Results per page
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Pagination cursor from previous response
      responses:
        "200":
          description: List of classified comments
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentsListSuccessResponse"
              examples:
                youtube_questions:
                  summary: YouTube questions
                  value:
                    success: true
                    result:
                      comments:
                        - id: cmt_abc123
                          text: "متى الجزء الثاني؟"
                          platform: youtube
                          intent: question
                          sentiment: neutral
                          dialect: gulf
                          toxicity: none
                          created_at: "2025-01-15T10:30:00Z"
                          channel_id: ch_123
                      pagination:
                        has_more: true
                        next_cursor: cur_def456
                        total_count: 1523
                    errors: []
                    request_id: req_lst_abc123
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /analytics:
    get:
      operationId: getAnalytics
      summary: Get analytics
      description: |
        Retrieve aggregated analytics on comment trends, sentiment shifts, and
        engagement patterns. Free endpoint.
      tags: [Analytics]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: channel_id
          in: query
          required: false
          schema:
            type: string
          description: Filter by channel ID
        - name: platform
          in: query
          required: false
          schema:
            type: string
            enum: [youtube, instagram, twitter, facebook]
          description: Filter by platform
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Start date (ISO 8601)
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: End date (ISO 8601)
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum: [day, week, month]
            default: day
          description: Group results by time period
      responses:
        "200":
          description: Analytics data
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSuccessResponse"
              examples:
                monthly:
                  summary: Monthly YouTube analytics
                  value:
                    success: true
                    result:
                      period:
                        from: "2025-01-01T00:00:00Z"
                        to: "2025-01-31T23:59:59Z"
                      total_comments: 4521
                      summary:
                        intent:
                          question: 1205
                          praise: 1890
                          complaint: 678
                          suggestion: 412
                          spam: 198
                          other: 138
                        sentiment:
                          positive: 2100
                          negative: 890
                          neutral: 1231
                          mixed: 300
                        dialect:
                          gulf: 2015
                          egyptian: 1302
                          levantine: 789
                          msa: 415
                        toxicity:
                          none: 3950
                          mild: 320
                          moderate: 180
                          severe: 71
                      trends:
                        - period: "2025-01-06/2025-01-12"
                          total: 1123
                          sentiment_score: 0.72
                          top_intent: praise
                    errors: []
                    request_id: req_ana_abc123
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: |
        Check the operational status of the NAWA API and its dependencies.
        No authentication required.
      tags: [System]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      security: []
      responses:
        "200":
          description: All services healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthSuccessResponse"
              examples:
                healthy:
                  summary: All services operational
                  value:
                    success: true
                    result:
                      status: healthy
                      version: "1.0.0"
                      services:
                        api: operational
                        classification: operational
                        database: operational
                        cache: operational
                      timestamp: "2025-01-15T12:00:00Z"
                    errors: []
                    request_id: req_hlt_abc123
        "503":
          description: One or more services degraded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthSuccessResponse"

  /usage:
    get:
      operationId: getUsage
      summary: Get usage statistics
      description: |
        Retrieve API usage statistics including request counts, credit consumption,
        and cache hit rates. Free endpoint.
      tags: [Usage]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Start date (ISO 8601). Default: start of current month.
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: End date (ISO 8601). Default: now.
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum: [day, week, month, endpoint]
            default: day
          description: Group results by time period or endpoint
      responses:
        "200":
          description: Usage statistics
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageSuccessResponse"
              examples:
                by_endpoint:
                  summary: Usage grouped by endpoint
                  value:
                    success: true
                    result:
                      period:
                        from: "2025-01-01T00:00:00Z"
                        to: "2025-01-31T23:59:59Z"
                      total_requests: 12450
                      total_cost: 68.70
                      cache_hit_rate: 0.23
                      by_endpoint:
                        - endpoint: "/v1/classify"
                          requests: 8500
                          cost: 51.00
                          cache_hits: 1955
                          avg_latency_ms: 820
                        - endpoint: "/v1/translate"
                          requests: 1200
                          cost: 6.00
                          cache_hits: 276
                          avg_latency_ms: 1100
                        - endpoint: "/v1/comments/:id/reply"
                          requests: 1750
                          cost: 14.00
                          cache_hits: 0
                          avg_latency_ms: 1200
                      balance:
                        current: 31.30
                        credits_purchased: 100.00
                        credits_used: 68.70
                    errors: []
                    request_id: req_usg_abc123
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /webhooks:
    post:
      operationId: createWebhook
      summary: Create webhook endpoint
      description: Register a new webhook endpoint for event notifications.
      tags: [Webhooks]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                  description: HTTPS endpoint URL
                  examples:
                    - "https://example.com/webhooks/nawa"
                events:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    enum:
                      - classification.completed
                      - classification.failed
                      - comment.new
                      - comment.replied
                      - credits.low
                      - credits.exhausted
      responses:
        "201":
          description: Webhook endpoint created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
    get:
      operationId: listWebhooks
      summary: List webhook endpoints
      tags: [Webhooks]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      responses:
        "200":
          description: List of webhook endpoints
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      operationId: deleteWebhook
      summary: Deactivate webhook endpoint
      tags: [Webhooks]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Webhook endpoint deactivated
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        API key authentication. Format: `Bearer nawa_live_sk_xxx` (production)
        or `Bearer nawa_test_sk_xxx` (sandbox, 100 request cap).

  headers:
    X-Request-Id:
      description: Unique request identifier
      schema:
        type: string
    X-NAWA-Provider:
      description: AI provider used for this request
      schema:
        type: string
        enum: [allam, claude]
    X-NAWA-Cache:
      description: Whether the response was served from semantic cache
      schema:
        type: string
        enum: [HIT, MISS]
    X-NAWA-Balance:
      description: Current credit balance in USD
      schema:
        type: string
    X-NAWA-Latency:
      description: Processing time in milliseconds
      schema:
        type: integer
    X-RateLimit-Limit:
      description: Maximum requests allowed per minute for this tier
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Remaining requests in the current window
      schema:
        type: integer
    X-RateLimit-Reset:
      description: RFC 3339 timestamp when the rate limit window resets
      schema:
        type: string
        format: date-time

  schemas:
    # --- Success Envelopes ---

    ClassifySuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/ClassificationResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    TranslateSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/TranslateResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    DetectSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/DetectResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    ModerateSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/ModerateResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    RubricSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/RubricResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    ReplySuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/ReplyResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    ReportSuccessResponse:
      type: object
      required: [type, data, request_id]
      properties:
        type:
          type: string
          enum: [success]
        data:
          $ref: "#/components/schemas/ReportResult"
        request_id:
          type: string

    FeedbackSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/FeedbackResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    CommentsListSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          type: object
          properties:
            comments:
              type: array
              items:
                $ref: "#/components/schemas/CommentItem"
            pagination:
              $ref: "#/components/schemas/Pagination"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    AnalyticsSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/AnalyticsResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    HealthSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/HealthResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    UsageSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/UsageResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    WebhookSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/WebhookEndpoint"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    WebhookListResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          type: object
          properties:
            object:
              type: string
              const: list
            data:
              type: array
              items:
                $ref: "#/components/schemas/WebhookEndpoint"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    # --- Domain Objects ---

    ClassificationResult:
      type: object
      properties:
        text:
          type: string
          description: The original input text
        intent:
          type: string
          enum: [question, complaint, praise, suggestion, spam, other]
          description: Detected intent
        intent_confidence:
          type: number
          minimum: 0
          maximum: 1
        sentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
        sentiment_confidence:
          type: number
          minimum: 0
          maximum: 1
        dialect:
          type: string
          enum: [gulf, egyptian, levantine, msa]
        dialect_confidence:
          type: number
          minimum: 0
          maximum: 1
        toxicity:
          type: string
          enum: [none, mild, moderate, severe]
        toxicity_confidence:
          type: number
          minimum: 0
          maximum: 1
        categories:
          type: array
          items:
            type: string
          description: "Content categories: engagement, support, feedback, spam"
        language:
          type: string
          enum: [ar, en, mixed]
        model:
          type: string
        cached:
          type: boolean

    TranslateResult:
      type: object
      required: [id, object, text, translated_text, source_language, target_language, tone, provider, model, fallback_used, cost_usd, credits_used, cached]
      properties:
        id:
          type: string
          description: Translation ID (trn_nw_xxx format)
        object:
          type: string
          const: translation
        text:
          type: string
          description: Original input text
        translated_text:
          type: string
          description: Translated output
        source_language:
          type: string
          enum: [ar, en]
        target_language:
          type: string
          enum: [ar, en]
        source_dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
          description: Detected dialect if source is Arabic
        target_dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
          description: Target dialect if target is Arabic
        tone:
          type: string
          enum: [formal, casual, social_media]
        provider:
          type: string
          description: "AI provider used (allam or claude)"
        model:
          type: string
        fallback_used:
          type: boolean
          description: Whether the fallback provider was used
        cached:
          type: boolean
        cost_usd:
          type: number
        credits_used:
          type: integer

    DetectResult:
      type: object
      required: [id, object, text, language, script, text_direction, word_count, fallback_used, cost_usd, credits_used, cached]
      properties:
        id:
          type: string
          description: Detection ID (det_nw_xxx format)
        object:
          type: string
          const: detection
        text:
          type: string
          description: The original input text
        language:
          type: string
          enum: [ar, en, mixed]
          description: Detected language
        dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
          description: Detected Arabic dialect. Null if not Arabic.
        dialect_confidence:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
          description: Confidence score for dialect detection. Null if not Arabic.
        script:
          type: string
          enum: [arabic, latin, mixed]
          description: Script type
        text_direction:
          type: string
          enum: [rtl, ltr]
          description: Text direction
        word_count:
          type: integer
          description: Number of words in the input text
        fallback_used:
          type: boolean
          description: Always false for this endpoint (local detection only)
        cost_usd:
          type: number
        credits_used:
          type: integer
        cached:
          type: boolean

    ModerateResult:
      type: object
      required: [id, object, text, is_safe, verdict, flags, severity, severity_score, language, categories, category_scores, flagged_terms, model, provider, fallback_used, cost_usd, credits_used, cached]
      properties:
        id:
          type: string
          description: Moderation ID (mod_nw_xxx format)
        object:
          type: string
          const: moderation
        text:
          type: string
          description: The original input text
        is_safe:
          type: boolean
          description: Whether the content passed moderation
        verdict:
          type: string
          enum: [safe, flagged]
        flags:
          type: array
          items:
            type: string
          description: List of triggered category names
        severity:
          type: string
          enum: [none, low, medium, high]
        severity_score:
          type: number
          minimum: 0
          maximum: 1
        language:
          type: string
          enum: [ar, en, mixed]
        dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
        categories:
          $ref: "#/components/schemas/ModerationCategories"
        category_scores:
          $ref: "#/components/schemas/ModerationCategoryScores"
        flagged_terms:
          type: array
          items:
            type: string
          description: Specific problematic words/phrases found
        cleaned_text:
          type: string
          nullable: true
          description: Text with flagged terms replaced by ***. Null if safe.
        model:
          type: string
        provider:
          type: string
          description: "AI provider used (allam or claude)"
        fallback_used:
          type: boolean
          description: Whether the fallback provider was used
        cost_usd:
          type: number
        credits_used:
          type: integer
        cached:
          type: boolean

    ModerationCategories:
      type: object
      properties:
        profanity:
          type: boolean
        hate_speech:
          type: boolean
        harassment:
          type: boolean
        sexual:
          type: boolean
        spam:
          type: boolean
        self_harm:
          type: boolean
        violence:
          type: boolean

    ModerationCategoryScores:
      type: object
      properties:
        profanity:
          type: number
          minimum: 0
          maximum: 1
        hate_speech:
          type: number
          minimum: 0
          maximum: 1
        harassment:
          type: number
          minimum: 0
          maximum: 1
        sexual:
          type: number
          minimum: 0
          maximum: 1
        spam:
          type: number
          minimum: 0
          maximum: 1
        self_harm:
          type: number
          minimum: 0
          maximum: 1
        violence:
          type: number
          minimum: 0
          maximum: 1

    RubricResult:
      type: object
      properties:
        text:
          type: string
          description: The original input text
        category:
          type: string
          description: The top matching category from the rubric
        category_confidence:
          type: number
          minimum: 0
          maximum: 1
        scores:
          type: object
          additionalProperties:
            type: number
          description: Confidence scores for all rubric categories
        dialect:
          type: string
          enum: [gulf, egyptian, levantine, msa]
        dialect_confidence:
          type: number
          minimum: 0
          maximum: 1
        language:
          type: string
          enum: [ar, en, mixed]
        model:
          type: string
        cached:
          type: boolean

    ReplyResult:
      type: object
      properties:
        comment_id:
          type: string
          description: The comment that was replied to
        reply_text:
          type: string
          description: The generated reply text
        reply_dialect:
          type: string
          enum: [gulf, egyptian, levantine, msa]
          description: Dialect used in the reply
        tone:
          type: string
          enum: [friendly, professional, casual, formal]
          description: The tone used for the reply
        original_intent:
          type: string
          enum: [question, complaint, praise, suggestion, spam, other]
          description: Detected intent of the original comment
        original_dialect:
          type: string
          enum: [gulf, egyptian, levantine, msa]
          description: Detected dialect of the original comment

    ReportResult:
      type: object
      required: [id, object, tier, report_markdown, sections, comments_analyzed, cost_usd, credits_used]
      properties:
        id:
          type: string
          description: Report ID (rpt_nw_xxx format)
        object:
          type: string
          const: intelligence_report
        tier:
          type: string
          enum: [basic, pro]
        report_markdown:
          type: string
          description: |
            Full report as markdown. Percentages are tagged with COUNT
            (verified from data) or ESTIMATE (analyst judgement). Any
            percentage the model left untagged is stamped UNVERIFIED
            by post-processing.
        sections:
          type: object
          description: |
            Parsed report sections as JSON. Keys are stable across
            prompt versions via tolerant heading-to-key mapping.
            Unknown sections appear under a slugified key.
          additionalProperties:
            type: string
        comments_analyzed:
          type: integer
        cost_usd:
          type: number
        credits_used:
          type: integer

    FeedbackInput:
      type: object
      required: [request_id, field, expected_value]
      properties:
        request_id:
          type: string
          description: The request_id from the original classification response
        field:
          type: string
          enum: [intent, sentiment, dialect, toxicity, category]
          description: The field to correct
        expected_value:
          type: string
          description: The correct value the model should have returned
        comment:
          type: string
          description: Optional explanation of why this correction is needed

    FeedbackResult:
      type: object
      properties:
        feedback_id:
          type: string
        status:
          type: string
          enum: [accepted]
        message:
          type: string

    CommentItem:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        platform:
          type: string
          enum: [youtube, instagram, twitter, facebook]
        intent:
          type: string
          enum: [question, complaint, praise, suggestion, spam, other]
        sentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
        dialect:
          type: string
          enum: [gulf, egyptian, levantine, msa]
        toxicity:
          type: string
          enum: [none, mild, moderate, severe]
        created_at:
          type: string
          format: date-time
        channel_id:
          type: string

    Pagination:
      type: object
      properties:
        has_more:
          type: boolean
        next_cursor:
          type: string
          nullable: true
        total_count:
          type: integer

    AnalyticsResult:
      type: object
      properties:
        period:
          type: object
          properties:
            from:
              type: string
              format: date-time
            to:
              type: string
              format: date-time
        total_comments:
          type: integer
        summary:
          type: object
          properties:
            intent:
              type: object
              additionalProperties:
                type: integer
            sentiment:
              type: object
              additionalProperties:
                type: integer
            dialect:
              type: object
              additionalProperties:
                type: integer
            toxicity:
              type: object
              additionalProperties:
                type: integer
        trends:
          type: array
          items:
            type: object
            properties:
              period:
                type: string
              total:
                type: integer
              sentiment_score:
                type: number
              top_intent:
                type: string

    HealthResult:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded]
        version:
          type: string
        services:
          type: object
          properties:
            api:
              type: string
              enum: [operational, degraded, down]
            classification:
              type: string
              enum: [operational, degraded, down]
            database:
              type: string
              enum: [operational, degraded, down]
            cache:
              type: string
              enum: [operational, degraded, down]
        timestamp:
          type: string
          format: date-time

    UsageResult:
      type: object
      properties:
        period:
          type: object
          properties:
            from:
              type: string
              format: date-time
            to:
              type: string
              format: date-time
        total_requests:
          type: integer
        total_cost:
          type: number
          description: Total cost in USD
        cache_hit_rate:
          type: number
          minimum: 0
          maximum: 1
        by_endpoint:
          type: array
          items:
            type: object
            properties:
              endpoint:
                type: string
              requests:
                type: integer
              cost:
                type: number
              cache_hits:
                type: integer
              avg_latency_ms:
                type: integer
        balance:
          type: object
          properties:
            current:
              type: number
            credits_purchased:
              type: number
            credits_used:
              type: number

    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
          format: uuid
        object:
          type: string
          const: webhook_endpoint
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        signing_secret:
          type: string
          description: HMAC signing secret (shown once at creation)
        active:
          type: boolean
        failure_count:
          type: integer
        created_at:
          type: string
          format: date-time

    # --- Error Envelope ---

    ErrorEnvelope:
      type: object
      required: [type, error, request_id]
      properties:
        type:
          type: string
          const: error
        error:
          type: object
          required: [type, code, message, display_message, param, doc_url, suggested_action]
          properties:
            type:
              type: string
              enum:
                - authentication_error
                - permission_error
                - rate_limit_error
                - invalid_request_error
                - not_found_error
                - api_error
            code:
              type: string
            message:
              type: string
            display_message:
              type: string
            param:
              type: string
              nullable: true
            doc_url:
              type: string
              format: uri
            suggested_action:
              type: string
        request_id:
          type: string

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: invalid_request_error
              code: missing_field
              message: "`text` is required"
              display_message: "The required field `text` is missing."
              param: text
              doc_url: https://developers.trynawa.com/errors#missing_required_param
              suggested_action: "Include `text` in your request body."
            request_id: req_nw_a1b2c3d4e5f67890

    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: authentication_error
              code: invalid_api_key
              message: API key not found
              display_message: The provided API key is not valid.
              param: Authorization
              doc_url: https://developers.trynawa.com/authentication
              suggested_action: Check your API key in the NAWA dashboard.
            request_id: req_nw_a1b2c3d4e5f67890

    PaymentRequired:
      description: Insufficient credits
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: permission_error
              code: insufficient_credits
              message: Credit balance is $0.00
              display_message: Your account has insufficient credits.
              param: null
              doc_url: https://developers.trynawa.com/billing
              suggested_action: Purchase credits at trynawa.com/developers/keys.
            request_id: req_nw_a1b2c3d4e5f67890

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until the rate limit resets
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: rate_limit_error
              code: rate_limit_exceeded
              message: "Rate limit exceeded: minute_limit"
              display_message: You have exceeded the request rate limit for your plan.
              param: null
              doc_url: https://developers.trynawa.com/rate-limits
              suggested_action: Wait and retry, or upgrade your plan for higher limits.
            request_id: req_nw_a1b2c3d4e5f67890

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
