openapi: 3.1.0
info:
  title: NAWA API
  version: 1.0.0
  description: |
    Arabic-first AI classification API.
    تصنيف ذكي للمحتوى العربي — من الخليج إلى المغرب.

    NAWA classifies Arabic and English text with dialect detection, sentiment analysis,
    intent classification, and automated reply generation.
  contact:
    name: NAWA Support
    email: support@trynawa.com
    url: https://trynawa.com
  license:
    name: Proprietary
    url: https://trynawa.com/terms

servers:
  - url: https://api.trynawa.com/v1
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Classification
    description: Text classification endpoints
  - name: Reply
    description: Comment reply generation
  - name: Feedback
    description: RLHF feedback ingestion
  - name: Webhooks
    description: Webhook management
  - name: System
    description: Health and status

paths:
  /classify:
    post:
      operationId: classify
      summary: Classify text
      description: |
        Classify Arabic or English text. Returns intent, sentiment, dialect, priority,
        and a suggested reply direction. Supports semantic caching.
      tags: [Classification]
      x-nawa-cost: "$0.006"
      x-nawa-cache: true
      x-nawa-rate-tier: trial
      x-nawa-free: false
      parameters:
        - name: provider
          in: query
          required: false
          description: Force a specific AI provider (for A/B testing)
          schema:
            type: string
            enum: [claude, gemini, allam]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  description: Text to classify
                  examples:
                    - "ماشاء الله الفيديو حلو مرة"
                    - "Great video, love the content!"
                context:
                  type: object
                  description: Optional context for classification
      responses:
        "200":
          description: Classification result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassifySuccessResponse"
              examples:
                arabic_gulf:
                  summary: Gulf Arabic praise
                  value:
                    result:
                      id: cls_nw_a1b2c3d4e5f6
                      object: classification
                      intent: [praise]
                      sentiment: positive
                      language: ar
                      dialect: gulf
                      dialect_confidence: 0.92
                      requires_response: false
                      priority: medium
                      suggested_reply:
                        text: "تعليق إيجابي يعبر عن إعجاب المستخدم بالمحتوى"
                        direction: rtl
                      provider: allam
                      model: sdaia/allam-1-13b-instruct
                      fallback_used: false
                      tokens_used: null
                      cost: 0.006
                    success: true
                    errors: []
                    request_id: req_nw_a1b2c3d4e5f67890abcdef12
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /rubric-classify:
    post:
      operationId: rubricClassify
      summary: Classify with custom rubric
      description: |
        Classify text against a user-defined rubric. Supports multi-label classification
        and configurable confidence thresholds.
      tags: [Classification]
      x-nawa-cost: "$0.003"
      x-nawa-cache: false
      x-nawa-rate-tier: trial
      x-nawa-free: true
      parameters:
        - name: provider
          in: query
          required: false
          schema:
            type: string
            enum: [claude, gemini, allam]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, rubric]
              properties:
                text:
                  type: string
                  minLength: 1
                  description: Text to classify
                  examples:
                    - "أحتاج مساعدة في طلبي رقم ١٢٣٤"
                rubric:
                  $ref: "#/components/schemas/Rubric"
      responses:
        "200":
          description: Rubric classification result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RubricSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /comments/reply:
    post:
      operationId: commentsReply
      summary: Classify and generate reply
      description: |
        Classify a comment and generate a contextual reply in a single call.
        Supports tone control and max length configuration.
      tags: [Reply]
      x-nawa-cost: "$0.008"
      x-nawa-cache: false
      x-nawa-rate-tier: trial
      x-nawa-free: false
      parameters:
        - name: provider
          in: query
          required: false
          schema:
            type: string
            enum: [claude, gemini, allam]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  description: Comment text to classify and reply to
                  examples:
                    - "هذا المنتج سيء جداً ولا أنصح به"
                tone:
                  type: string
                  enum: [friendly, professional, casual, formal]
                  default: professional
                max_length:
                  type: integer
                  minimum: 1
                  maximum: 2000
                  default: 500
      responses:
        "200":
          description: Classification and reply result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplySuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /feedback:
    post:
      operationId: submitFeedback
      summary: Submit classification feedback
      description: |
        Submit feedback on a classification result. Free for all tiers.
        Used for RLHF-based model improvement. Quorum-based pattern confirmation.
      tags: [Feedback]
      x-nawa-cost: "$0.000"
      x-nawa-cache: false
      x-nawa-rate-tier: sandbox
      x-nawa-free: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackInput"
      responses:
        "200":
          description: Feedback acknowledged
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedbackSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /webhooks:
    post:
      operationId: createWebhook
      summary: Create webhook endpoint
      description: Register a new webhook endpoint for event notifications.
      tags: [Webhooks]
      x-nawa-cost: "$0.000"
      x-nawa-cache: false
      x-nawa-rate-tier: trial
      x-nawa-free: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                  description: HTTPS endpoint URL
                  examples:
                    - "https://example.com/webhooks/nawa"
                events:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    enum:
                      - classification.completed
                      - classification.failed
                      - credits.low
                      - credits.exhausted
      responses:
        "201":
          description: Webhook endpoint created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
    get:
      operationId: listWebhooks
      summary: List webhook endpoints
      tags: [Webhooks]
      x-nawa-cost: "$0.000"
      x-nawa-cache: false
      x-nawa-rate-tier: trial
      x-nawa-free: true
      responses:
        "200":
          description: List of webhook endpoints
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      operationId: deleteWebhook
      summary: Deactivate webhook endpoint
      tags: [Webhooks]
      x-nawa-cost: "$0.000"
      x-nawa-cache: false
      x-nawa-rate-tier: trial
      x-nawa-free: true
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Webhook endpoint deactivated
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /comments:
    get:
      operationId: listComments
      summary: List classified comments
      description: |
        List previously classified comments with filtering and pagination.
        Returns results from API classification history.
      tags: [Classification]
      x-nawa-cost: "$0.000"
      x-nawa-cache: false
      x-nawa-rate-tier: trial
      x-nawa-free: true
      parameters:
        - name: platform
          in: query
          required: false
          schema:
            type: string
            enum: [youtube, instagram, twitter, facebook]
        - name: intent
          in: query
          required: false
          schema:
            type: string
            enum: [question, complaint, praise, suggestion, spam, other]
        - name: sentiment
          in: query
          required: false
          schema:
            type: string
            enum: [positive, negative, neutral, mixed]
        - name: dialect
          in: query
          required: false
          schema:
            type: string
            enum: [gulf, egyptian, levantine, msa]
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: List of classified comments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentsListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /usage:
    get:
      operationId: getUsage
      summary: Get usage statistics
      description: |
        Retrieve request counts, costs, and cache hit rates from your API usage.
      tags: [System]
      x-nawa-cost: "$0.000"
      x-nawa-cache: false
      x-nawa-rate-tier: trial
      x-nawa-free: true
      parameters:
        - name: from
          in: query
          required: false
          description: Start date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: End date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum: [endpoint, day]
            default: endpoint
      responses:
        "200":
          description: Usage statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /analytics:
    get:
      operationId: getAnalytics
      summary: Get analytics data
      description: |
        Retrieve aggregated analytics including request counts, costs,
        latency, success rates, and provider distribution.
      tags: [System]
      x-nawa-cost: "$0.000"
      x-nawa-cache: false
      x-nawa-rate-tier: trial
      x-nawa-free: true
      parameters:
        - name: from
          in: query
          required: false
          description: Start date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: End date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum: [endpoint, day, provider]
            default: endpoint
      responses:
        "200":
          description: Analytics data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /calibration:
    get:
      operationId: getCalibration
      summary: Get calibration thresholds
      description: |
        Retrieve current calibration thresholds, defaults, and change history.
        Enterprise and Enterprise+ tiers only.
      tags: [System]
      x-nawa-cost: "$0.000"
      x-nawa-cache: false
      x-nawa-rate-tier: enterprise
      x-nawa-free: true
      responses:
        "200":
          description: Calibration data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalibrationGetResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Enterprise tier required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      operationId: updateCalibration
      summary: Update calibration thresholds
      description: |
        Partially update calibration thresholds.
        Enterprise and Enterprise+ tiers only.
      tags: [System]
      x-nawa-cost: "$0.000"
      x-nawa-cache: false
      x-nawa-rate-tier: enterprise
      x-nawa-free: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sentiment_threshold:
                  type: number
                  minimum: 0
                  maximum: 1
                intent_threshold:
                  type: number
                  minimum: 0
                  maximum: 1
                dialect_threshold:
                  type: number
                  minimum: 0
                  maximum: 1
      responses:
        "200":
          description: Updated calibration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalibrationUpdateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Enterprise tier required
    delete:
      operationId: resetCalibration
      summary: Reset calibration to defaults
      description: |
        Reset all calibration thresholds to system defaults.
        Enterprise and Enterprise+ tiers only.
      tags: [System]
      x-nawa-cost: "$0.000"
      x-nawa-cache: false
      x-nawa-rate-tier: enterprise
      x-nawa-free: true
      responses:
        "200":
          description: Calibration reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      reset:
                        type: boolean
                        const: true
                  success:
                    type: boolean
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Enterprise tier required

  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: Public health check endpoint. No authentication required.
      tags: [System]
      x-nawa-cost: "$0.000"
      x-nawa-cache: false
      x-nawa-rate-tier: none
      x-nawa-free: true
      security: []
      responses:
        "200":
          description: All services healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "503":
          description: One or more services degraded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        API key authentication. Format: `Bearer nawa_live_sk_xxx` (production)
        or `Bearer nawa_test_sk_xxx` (sandbox, 100 request cap).

  headers:
    X-Request-Id:
      description: Unique request identifier (req_nw_xxx format)
      schema:
        type: string
        pattern: "^req_nw_[a-f0-9]{24}$"
    X-NAWA-Provider:
      description: AI provider used for this request
      schema:
        type: string
        enum: [claude, gemini, allam]
    X-NAWA-Cache:
      description: Whether the response was served from semantic cache
      schema:
        type: string
        enum: [HIT, MISS]
    X-NAWA-Balance:
      description: Current credit balance after this request
      schema:
        type: string
    X-RateLimit-Limit:
      description: Maximum requests allowed per minute for this tier
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Remaining requests in the current window
      schema:
        type: integer
    X-RateLimit-Reset:
      description: RFC 3339 timestamp when the rate limit window resets
      schema:
        type: string
        format: date-time

  schemas:
    # --- Success Envelopes ---

    ClassifySuccessResponse:
      type: object
      required: [result, success, errors, request_id]
      properties:
        result:
          $ref: "#/components/schemas/ClassificationResult"
        success:
          type: boolean
          const: true
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    RubricSuccessResponse:
      type: object
      required: [result, success, errors, request_id]
      properties:
        result:
          $ref: "#/components/schemas/RubricResult"
        success:
          type: boolean
          const: true
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    ReplySuccessResponse:
      type: object
      required: [result, success, errors, request_id]
      properties:
        result:
          $ref: "#/components/schemas/ReplyResult"
        success:
          type: boolean
          const: true
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    FeedbackSuccessResponse:
      type: object
      required: [result, success, errors, request_id]
      properties:
        result:
          $ref: "#/components/schemas/FeedbackResult"
        success:
          type: boolean
          const: true
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    WebhookSuccessResponse:
      type: object
      required: [result, success, errors, request_id]
      properties:
        result:
          $ref: "#/components/schemas/WebhookEndpoint"
        success:
          type: boolean
          const: true
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    WebhookListResponse:
      type: object
      required: [result, success, errors, request_id]
      properties:
        result:
          type: object
          properties:
            object:
              type: string
              const: list
            data:
              type: array
              items:
                $ref: "#/components/schemas/WebhookEndpoint"
        success:
          type: boolean
          const: true
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    # --- Domain Objects ---

    ClassificationResult:
      type: object
      required: [id, object, intent, sentiment, language, requires_response, priority, provider, model, cost]
      properties:
        id:
          type: string
          description: Classification ID (cls_nw_xxx format)
          examples: [cls_nw_a1b2c3d4e5f6]
        object:
          type: string
          const: classification
        intent:
          type: array
          items:
            type: string
          description: Detected intents
          examples: [[praise], [question, complaint]]
        sentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
        language:
          type: string
          enum: [ar, en, mixed]
        dialect:
          type: string
          nullable: true
          description: Arabic dialect (gulf, egyptian, levantine, maghrebi, msa)
        dialect_confidence:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
        requires_response:
          type: boolean
        priority:
          type: string
          enum: [high, medium, low]
        suggested_reply:
          type: object
          properties:
            text:
              type: string
            direction:
              type: string
              enum: [ltr, rtl]
        provider:
          type: string
          enum: [claude, gemini, allam]
        model:
          type: string
        fallback_used:
          type: boolean
        tokens_used:
          type: integer
          nullable: true
        cost:
          type: number
          description: Cost in USD

    RubricResult:
      type: object
      required: [id, object, categories, multi_label, language, provider, model, cost]
      properties:
        id:
          type: string
          examples: [rcl_nw_a1b2c3d4e5f6]
        object:
          type: string
          const: rubric_classification
        categories:
          type: array
          items:
            type: object
            required: [name, confidence]
            properties:
              name:
                type: string
              confidence:
                type: number
                minimum: 0
                maximum: 1
        multi_label:
          type: boolean
        language:
          type: string
        provider:
          type: string
        model:
          type: string
        fallback_used:
          type: boolean
        cost:
          type: number

    ReplyResult:
      type: object
      required: [id, object, classification, reply, provider, model, cost]
      properties:
        id:
          type: string
          examples: [rpl_nw_a1b2c3d4e5f6]
        object:
          type: string
          const: comment_reply
        classification:
          type: object
          properties:
            intent:
              type: array
              items:
                type: string
            sentiment:
              type: string
            priority:
              type: string
            requires_response:
              type: boolean
        reply:
          type: object
          properties:
            text:
              type: string
            direction:
              type: string
              enum: [ltr, rtl]
            tone:
              type: string
        provider:
          type: string
        model:
          type: string
        cost:
          type: number

    FeedbackInput:
      type: object
      required: [classification_id, rating]
      properties:
        classification_id:
          type: string
          description: The cls_nw_xxx ID from a classify response
        rating:
          type: string
          enum: [correct, incorrect, partial]
        corrected_intent:
          type: array
          items:
            type: string
        corrected_sentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
        comment:
          type: string

    FeedbackResult:
      type: object
      required: [id, object, classification_id, rating, acknowledged]
      properties:
        id:
          type: string
          examples: [fb_nw_a1b2c3d4e5f6]
        object:
          type: string
          const: feedback
        classification_id:
          type: string
        rating:
          type: string
        acknowledged:
          type: boolean
          const: true

    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
          format: uuid
        object:
          type: string
          const: webhook_endpoint
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        signing_secret:
          type: string
          description: HMAC signing secret (shown once at creation)
        active:
          type: boolean
        failure_count:
          type: integer
        created_at:
          type: string
          format: date-time

    Rubric:
      type: object
      required: [categories]
      properties:
        categories:
          type: array
          minItems: 1
          maxItems: 20
          items:
            type: object
            required: [name]
            properties:
              name:
                type: string
              description:
                type: string
        multi_label:
          type: boolean
          default: false
        confidence_threshold:
          type: number
          minimum: 0
          maximum: 1
          default: 0.5

    HealthStatus:
      type: object
      required: [status, version, services, timestamp]
      properties:
        status:
          type: string
          enum: [healthy, degraded]
        version:
          type: string
          const: v1
        services:
          type: object
          properties:
            database:
              $ref: "#/components/schemas/ServiceStatus"
            redis:
              $ref: "#/components/schemas/ServiceStatus"
            nagl:
              $ref: "#/components/schemas/ServiceStatus"
        timestamp:
          type: string
          format: date-time
        latency_ms:
          type: integer

    ServiceStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, down]
        latency_ms:
          type: integer

    # --- List / Usage / Analytics / Calibration Responses ---

    CommentsListResponse:
      type: object
      required: [result, success, errors, request_id]
      properties:
        result:
          type: object
          properties:
            comments:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  request_id:
                    type: string
                  text:
                    type: string
                  platform:
                    type: string
                  intent:
                    type: string
                  sentiment:
                    type: string
                  dialect:
                    type: string
                  created_at:
                    type: string
                    format: date-time
            pagination:
              type: object
              properties:
                total:
                  type: integer
                limit:
                  type: integer
                offset:
                  type: integer
                has_more:
                  type: boolean
        success:
          type: boolean
        errors:
          type: array
          items: {}
        request_id:
          type: string

    UsageResponse:
      type: object
      required: [result, success, errors, request_id]
      properties:
        result:
          type: object
          properties:
            usage:
              type: object
              properties:
                total_requests:
                  type: integer
                total_cost:
                  type: number
                cache_hits:
                  type: integer
                cache_hit_rate:
                  type: number
                period:
                  type: object
                  properties:
                    from:
                      type: string
                      nullable: true
                    to:
                      type: string
                      nullable: true
            by_endpoint:
              type: array
              items:
                type: object
                properties:
                  endpoint:
                    type: string
                  requests:
                    type: integer
                  cost:
                    type: number
                  cache_hits:
                    type: integer
            by_day:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                  requests:
                    type: integer
                  cost:
                    type: number
                  cache_hits:
                    type: integer
        success:
          type: boolean
        errors:
          type: array
          items: {}
        request_id:
          type: string

    AnalyticsResponse:
      type: object
      required: [result, success, errors, request_id]
      properties:
        result:
          type: object
          properties:
            analytics:
              type: object
              properties:
                total_requests:
                  type: integer
                total_cost:
                  type: number
                cache_hits:
                  type: integer
                cache_hit_rate:
                  type: number
                avg_latency_ms:
                  type: integer
                success_rate:
                  type: number
                error_count:
                  type: integer
                endpoint_distribution:
                  type: object
                  additionalProperties:
                    type: integer
                provider_distribution:
                  type: object
                  additionalProperties:
                    type: integer
                period:
                  type: object
                  properties:
                    from:
                      type: string
                      nullable: true
                    to:
                      type: string
                      nullable: true
        success:
          type: boolean
        errors:
          type: array
          items: {}
        request_id:
          type: string

    CalibrationGetResponse:
      type: object
      required: [result, success, request_id]
      properties:
        result:
          type: object
          properties:
            calibration:
              type: object
              properties:
                sentiment_threshold:
                  type: number
                intent_threshold:
                  type: number
                dialect_threshold:
                  type: number
            defaults:
              type: object
              properties:
                sentiment_threshold:
                  type: number
                  const: 0.7
                intent_threshold:
                  type: number
                  const: 0.6
                dialect_threshold:
                  type: number
                  const: 0.5
            history:
              type: array
              items:
                type: object
        success:
          type: boolean
        request_id:
          type: string

    CalibrationUpdateResponse:
      type: object
      required: [result, success, request_id]
      properties:
        result:
          type: object
          properties:
            calibration:
              type: object
              properties:
                sentiment_threshold:
                  type: number
                intent_threshold:
                  type: number
                dialect_threshold:
                  type: number
        success:
          type: boolean
        request_id:
          type: string

    # --- Error Envelope ---

    ErrorEnvelope:
      type: object
      required: [type, error, request_id]
      properties:
        type:
          type: string
          const: error
        error:
          type: object
          required: [type, code, message, display_message, param, doc_url, suggested_action]
          properties:
            type:
              type: string
              enum:
                - authentication_error
                - permission_error
                - rate_limit_error
                - invalid_request_error
                - not_found_error
                - api_error
            code:
              type: string
            message:
              type: string
            display_message:
              type: string
            param:
              type: string
              nullable: true
            doc_url:
              type: string
              format: uri
            suggested_action:
              type: string
        request_id:
          type: string

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: invalid_request_error
              code: missing_field
              message: "`text` is required"
              display_message: "The required field `text` is missing."
              param: text
              doc_url: https://developers.trynawa.com/api/errors#missing-field
              suggested_action: "Include `text` in your request body."
            request_id: req_nw_a1b2c3d4e5f67890abcdef12

    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: authentication_error
              code: invalid_api_key
              message: API key not found
              display_message: The provided API key is not valid.
              param: Authorization
              doc_url: https://developers.trynawa.com/api/authentication
              suggested_action: Check your API key in the NAWA dashboard.
            request_id: req_nw_a1b2c3d4e5f67890abcdef12

    PaymentRequired:
      description: Insufficient credits
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: permission_error
              code: insufficient_credits
              message: Credit balance is $0.00
              display_message: Your account has insufficient credits.
              param: null
              doc_url: https://developers.trynawa.com/api/billing
              suggested_action: Purchase credits at https://trynawa.com/billing
            request_id: req_nw_a1b2c3d4e5f67890abcdef12

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until the rate limit resets
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: rate_limit_error
              code: rate_limit_exceeded
              message: "Rate limit exceeded: minute_limit"
              display_message: You have exceeded the request rate limit for your plan.
              param: null
              doc_url: https://developers.trynawa.com/api/rate-limits
              suggested_action: Wait 45s and retry, or upgrade your plan for higher limits.
            request_id: req_nw_a1b2c3d4e5f67890abcdef12

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
