openapi: 3.1.0
info:
  title: NAWA API
  version: 1.1.1
  description: |
    Arabic language intelligence API.
    تصنيف ذكي للمحتوى العربي — من الخليج إلى المغرب.

    NAWA classifies Arabic and English text with dialect detection, sentiment analysis,
    intent classification, translation, content moderation, and automated reply generation.
  contact:
    name: NAWA Support
    email: support@trynawa.com
    url: https://trynawa.com
  license:
    name: Proprietary
    url: https://trynawa.com/terms

servers:
  - url: https://api.trynawa.com/v1
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Classification
    description: Text classification endpoints
  - name: Translation
    description: Arabic-English translation
  - name: Detection
    description: Language and dialect detection
  - name: Moderation
    description: Content moderation
  - name: Reply
    description: Comment reply generation
  - name: Feedback
    description: RLHF feedback ingestion
  - name: Comments
    description: Comment retrieval and filtering
  - name: Analytics
    description: Aggregated analytics
  - name: Usage
    description: API usage statistics
  - name: System
    description: Health and status
  - name: Webhooks
    description: Webhook management

paths:
  /classify:
    post:
      operationId: classify
      summary: Classify text
      description: |
        Classify Arabic or English text. Returns intent, sentiment, dialect, toxicity,
        and categories in a single API call. Supports semantic caching.
      tags: [Classification]
      x-nawa-cost: "$0.006"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: The comment text to classify
                  examples:
                    - "متى الجزء الثاني؟"
                    - "ما شاء الله عليك، محتوى رهيب!"
                platform:
                  type: string
                  enum: [youtube, instagram, twitter, facebook]
                  description: Source platform for context-aware classification
                channel_id:
                  type: string
                  description: Your channel or account identifier for analytics grouping
                metadata:
                  type: object
                  description: Arbitrary key-value metadata to attach to the classification
            example:
              text: "متى الجزء الثاني؟"
              platform: "youtube"
              channel_id: "ch_123"
      responses:
        "200":
          description: Classification result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassifySuccessResponse"
              examples:
                gulf_question:
                  summary: Gulf Arabic question
                  value:
                    success: true
                    result:
                      id: cls_nw_a1b2c3d4e5f6
                      object: classification
                      intent: ["question"]
                      sentiment: neutral
                      language: ar
                      dialect: gulf
                      dialect_confidence: 0.95
                      requires_response: true
                      priority: medium
                      suggested_reply:
                        text: "إن شاء الله الجزء الثاني قريب!"
                        direction: rtl
                      provider: allam
                      model: sdaia/allam-1-13b-instruct
                      fallback_used: false
                      tokens_used: null
                      cost_usd: 0.006
                      credits_used: 6
                    errors: []
                    request_id: req_nw_a1b2c3d4e5f6
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /translate:
    post:
      operationId: translate
      summary: Translate text
      description: |
        Translate text between English and Arabic with dialect awareness.
        Generates culturally appropriate translations in Gulf, Egyptian, Levantine, or MSA Arabic.
        Falls back to Claude Haiku 4.5 if ALLaM is unavailable.
      tags: [Translation]
      x-nawa-cost: "$0.005"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, target]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: Text to translate
                  examples:
                    - "Hello, how are you?"
                    - "وش رايكم بالمحتوى الجديد؟"
                source:
                  type: string
                  enum: [ar, en, auto]
                  default: auto
                  description: "Source language. Use `auto` to detect automatically."
                target:
                  type: string
                  enum: [ar, en]
                  description: Target language
                dialect:
                  type: string
                  enum: [gulf, egyptian, levantine, msa]
                  default: msa
                  description: "Target dialect for Arabic output"
                tone:
                  type: string
                  enum: [formal, casual, social_media]
                  default: formal
                  description: Translation tone
                platform:
                  type: string
                  enum: [youtube, instagram, twitter, facebook]
                  description: Source platform for social media tone context
                metadata:
                  type: object
                  description: Arbitrary key-value metadata
            example:
              text: "Hello, how are you?"
              source: "en"
              target: "ar"
              dialect: "gulf"
              tone: "casual"
      responses:
        "200":
          description: Translation result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslateSuccessResponse"
              examples:
                en_to_gulf:
                  summary: English to Gulf Arabic (casual)
                  value:
                    success: true
                    result:
                      id: trn_nw_pon1yom9bkfe
                      object: translation
                      text: "Hello, how are you?"
                      translated_text: "هلا، كيف حالك؟"
                      source_language: en
                      target_language: ar
                      source_dialect: null
                      target_dialect: gulf
                      tone: casual
                      provider: allam
                      model: sdaia/allam-1-13b-instruct
                      fallback_used: false
                      cached: false
                      cost_usd: 0.005
                      credits_used: 5
                    errors: []
                    request_id: req_nw_4c11w71e44cb
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /detect:
    post:
      operationId: detectLanguage
      summary: Detect language and dialect
      description: |
        Detect language, dialect, script, and text direction from any text input.
        Uses local NAGL modules only -- no external AI call. Returns in under 100ms.
      tags: [Detection]
      x-nawa-cost: "$0.002"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: The text to detect
                  examples:
                    - "وش رايكم بالمحتوى الجديد؟"
                    - "This is a great video"
            example:
              text: "وش رايكم بالمحتوى الجديد؟"
      responses:
        "200":
          description: Detection result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DetectSuccessResponse"
              examples:
                gulf_arabic:
                  summary: Gulf Arabic detection
                  value:
                    success: true
                    result:
                      id: det_nw_pon1yom9bkfe
                      object: detection
                      text: "وش رايكم بالمحتوى الجديد؟"
                      language: ar
                      dialect: gulf
                      dialect_confidence: 0.95
                      script: arabic
                      text_direction: rtl
                      word_count: 4
                      fallback_used: false
                      cost_usd: 0.002
                      credits_used: 2
                      cached: false
                    errors: []
                    request_id: req_nw_det1a2b3c4d5e
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /moderate:
    post:
      operationId: moderateContent
      summary: Moderate content
      description: |
        Dialect-aware Arabic content moderation. Understands profanity, slang, and
        offensive language differences across Gulf, Egyptian, Levantine, and MSA Arabic.
        Falls back to Claude Haiku 4.5 if ALLaM is unavailable.
      tags: [Moderation]
      x-nawa-cost: "$0.004"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: The text to moderate
                  examples:
                    - "هذا محتوى رائع جدا"
                strictness:
                  type: string
                  enum: [low, medium, high]
                  default: medium
                  description: "Moderation strictness. low: severe only. medium: moderate+severe. high: all problematic."
                context:
                  type: string
                  description: "Where the text appears (e.g. youtube comment, product review)"
                platform:
                  type: string
                  enum: [youtube, instagram, twitter, facebook]
                  description: Source platform
            example:
              text: "هذا محتوى رائع جدا"
              strictness: "medium"
      responses:
        "200":
          description: Moderation result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModerateSuccessResponse"
              examples:
                safe_content:
                  summary: Safe Arabic content
                  value:
                    success: true
                    result:
                      id: mod_nw_pon1yom9bkfe
                      object: moderation
                      text: "هذا محتوى رائع جدا"
                      is_safe: true
                      verdict: safe
                      flags: []
                      severity: none
                      severity_score: 0.0
                      language: ar
                      dialect: gulf
                      categories:
                        profanity: false
                        hate_speech: false
                        harassment: false
                        sexual: false
                        spam: false
                        self_harm: false
                        violence: false
                      category_scores:
                        profanity: 0.01
                        hate_speech: 0.00
                        harassment: 0.02
                        sexual: 0.00
                        spam: 0.05
                        self_harm: 0.00
                        violence: 0.01
                      flagged_terms: []
                      cleaned_text: null
                      model: nagl-v1
                      provider: allam
                      fallback_used: false
                      cached: false
                      cost_usd: 0.004
                      credits_used: 4
                    errors: []
                    request_id: req_nw_mod1a2b3c4d5e
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /rubric/classify:
    post:
      operationId: rubricClassify
      summary: Classify with custom rubric
      description: |
        Classify text against a user-defined rubric. Define your own categories and
        scoring criteria for domain-specific classification.
      tags: [Classification]
      x-nawa-cost: "$0.003"
      x-nawa-cache: true
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, rubric]
              properties:
                text:
                  type: string
                  minLength: 1
                  maxLength: 5000
                  description: The comment text to classify
                  examples:
                    - "وين الترجمة العربية؟ مافهمت شي"
                rubric:
                  type: object
                  required: [categories]
                  properties:
                    categories:
                      type: array
                      minItems: 1
                      maxItems: 20
                      items:
                        type: object
                        required: [name]
                        properties:
                          name:
                            type: string
                            description: Category name
                          description:
                            type: string
                            description: Category description to guide the model
                      description: List of category objects to classify against
                    multi_label:
                      type: boolean
                      default: false
                      description: Allow multiple category matches
                    confidence_threshold:
                      type: number
                      minimum: 0
                      maximum: 1
                      default: 0.5
                      description: Minimum confidence threshold
                platform:
                  type: string
                  enum: [youtube, instagram, twitter, facebook]
                  description: Source platform for context
            example:
              text: "وين الترجمة العربية؟ مافهمت شي"
              rubric:
                categories:
                  - name: "translation_request"
                    description: "User is asking for subtitles or translation"
                  - name: "technical_issue"
                    description: "Audio, video, or playback problems"
                  - name: "content_feedback"
                    description: "Comments about the content quality"
                  - name: "off_topic"
                    description: "Not related to the video"
                multi_label: false
                confidence_threshold: 0.5
              platform: "youtube"
      responses:
        "200":
          description: Rubric classification result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Cache:
              $ref: "#/components/headers/X-NAWA-Cache"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RubricSuccessResponse"
              examples:
                translation_request:
                  summary: Gulf Arabic translation request
                  value:
                    success: true
                    result:
                      id: rcl_nw_a1b2c3d4e5f6
                      object: rubric_classification
                      categories:
                        - name: translation_request
                          confidence: 0.94
                        - name: technical_issue
                          confidence: 0.03
                        - name: content_feedback
                          confidence: 0.02
                        - name: off_topic
                          confidence: 0.01
                      multi_label: false
                      language: ar
                      provider: allam
                      model: sdaia/allam-1-13b-instruct
                      fallback_used: false
                      cost_usd: 0.003
                      credits_used: 3
                    errors: []
                    request_id: req_nw_rub123abc456
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /comments/reply:
    post:
      operationId: generateReply
      summary: Classify and generate reply
      description: |
        Classify a comment and generate a culturally-aware, dialect-matched reply
        in a single API call. Replies match the commenter's dialect.
      tags: [Reply]
      x-nawa-cost: "$0.008"
      x-nawa-cache: false
      x-nawa-free: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  description: The comment text to classify and reply to
                tone:
                  type: string
                  enum: [friendly, professional, casual, formal]
                  default: professional
                  description: Reply tone
                max_length:
                  type: integer
                  minimum: 1
                  maximum: 2000
                  default: 500
                  description: Maximum reply length in characters
                context:
                  type: object
                  properties:
                    platform:
                      type: string
                      description: Source platform
                    brand_voice:
                      type: string
                      description: Brand voice description for reply style
                  description: Additional context for reply generation
            example:
              text: "متى الجزء الثاني؟"
              tone: "friendly"
              context:
                platform: "youtube"
                brand_voice: "Tech review channel focused on smartphones"
      responses:
        "200":
          description: Classification and generated reply
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-NAWA-Provider:
              $ref: "#/components/headers/X-NAWA-Provider"
            X-NAWA-Balance:
              $ref: "#/components/headers/X-NAWA-Balance"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplySuccessResponse"
              examples:
                gulf_reply:
                  summary: Friendly reply to Gulf Arabic question
                  value:
                    success: true
                    result:
                      id: rpl_nw_a1b2c3d4e5f6
                      object: comment_reply
                      classification:
                        intent: ["question"]
                        sentiment: neutral
                        priority: medium
                        requires_response: true
                      reply:
                        text: "إن شاء الله الجزء الثاني قريب! تابعنا عشان ما يفوتك 🔔"
                        direction: rtl
                        tone: friendly
                      provider: allam
                      model: sdaia/allam-1-13b-instruct
                      cost_usd: 0.008
                      credits_used: 8
                    errors: []
                    request_id: req_nw_rep789xyz012
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /feedback:
    post:
      operationId: submitFeedback
      summary: Submit classification feedback
      description: |
        Submit feedback on a classification result to improve NAWA's accuracy.
        Free for all tiers. Used for RLHF-based model improvement.
      tags: [Feedback]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackInput"
            example:
              classification_id: "cls_nw_a1b2c3d4e5f6"
              rating: "incorrect"
              corrected_sentiment: "negative"
              comment: "This comment is sarcastic, not genuinely positive"
      responses:
        "200":
          description: Feedback accepted
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedbackSuccessResponse"
              examples:
                accepted:
                  summary: Feedback accepted
                  value:
                    success: true
                    result:
                      id: fb_nw_x1y2z3a4b5c6
                      object: feedback
                      classification_id: cls_nw_a1b2c3d4e5f6
                      rating: incorrect
                      acknowledged: true
                    errors: []
                    request_id: req_nw_fb_abc123
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /comments:
    get:
      operationId: listComments
      summary: List classified comments
      description: |
        Retrieve classified comments with filtering and pagination. Free endpoint.
      tags: [Comments]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: platform
          in: query
          required: false
          schema:
            type: string
            enum: [youtube, instagram, twitter, facebook]
          description: Filter by platform
        - name: intent
          in: query
          required: false
          schema:
            type: string
            enum: [question, complaint, praise, suggestion, spam, other]
          description: Filter by intent
        - name: sentiment
          in: query
          required: false
          schema:
            type: string
            enum: [positive, negative, neutral, mixed]
          description: Filter by sentiment
        - name: dialect
          in: query
          required: false
          schema:
            type: string
            enum: [gulf, egyptian, levantine, msa]
          description: Filter by dialect
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          description: Results per page
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip
      responses:
        "200":
          description: List of classified comments
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentsListSuccessResponse"
              examples:
                youtube_questions:
                  summary: YouTube questions
                  value:
                    success: true
                    result:
                      comments:
                        - id: cls_nw_a1b2c3d4e5f6
                          request_id: req_nw_a1b2c3d4e5f6
                          text: "متى الجزء الثاني؟"
                          platform: youtube
                          intent: question
                          sentiment: neutral
                          dialect: gulf
                          created_at: "2025-01-15T10:30:00Z"
                      pagination:
                        total: 1523
                        limit: 25
                        offset: 0
                        has_more: true
                    errors: []
                    request_id: req_nw_lst_abc123
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /analytics:
    get:
      operationId: getAnalytics
      summary: Get analytics
      description: |
        Retrieve aggregated analytics on comment trends, sentiment shifts, and
        engagement patterns. Free endpoint.
      tags: [Analytics]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Start date (ISO 8601)
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: End date (ISO 8601)
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum: [endpoint, day, provider]
            default: endpoint
          description: Group breakdown by endpoint, day, or provider
      responses:
        "200":
          description: Analytics data
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSuccessResponse"
              examples:
                by_endpoint:
                  summary: Analytics grouped by endpoint
                  value:
                    success: true
                    result:
                      analytics:
                        total_requests: 12450
                        total_cost: 68.70
                        cache_hits: 2835
                        cache_hit_rate: 0.23
                        avg_latency_ms: 820
                        success_rate: 0.99
                        error_count: 12
                        endpoint_distribution:
                          "/v1/classify": 8500
                          "/v1/translate": 1200
                          "/v1/comments/reply": 1750
                        provider_distribution:
                          allam: 9800
                          claude: 2650
                        period:
                          from: "2025-01-01T00:00:00Z"
                          to: "2025-01-31T23:59:59Z"
                      by_endpoint:
                        - endpoint: "/v1/classify"
                          requests: 8500
                          cost: 51.00
                          avg_latency_ms: 780
                    errors: []
                    request_id: req_nw_ana_abc123
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: |
        Check the operational status of the NAWA API and its dependencies.
        No authentication required.
      tags: [System]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      security: []
      responses:
        "200":
          description: All services healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResult"
              examples:
                healthy:
                  summary: All services operational
                  value:
                    status: healthy
                    version: v1
                    services:
                      database:
                        status: healthy
                        latency_ms: 12
                      redis:
                        status: healthy
                        latency_ms: 3
                      nagl:
                        status: healthy
                    timestamp: "2025-01-15T12:00:00Z"
                    latency_ms: 15
        "503":
          description: One or more services degraded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResult"

  /usage:
    get:
      operationId: getUsage
      summary: Get usage statistics
      description: |
        Retrieve API usage statistics including request counts, credit consumption,
        and cache hit rates. Free endpoint.
      tags: [Usage]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: "Start date (ISO 8601). Default: start of current month."
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: "End date (ISO 8601). Default: now."
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum: [endpoint, day]
            default: endpoint
          description: "Group by endpoint or day"
      responses:
        "200":
          description: Usage statistics
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageSuccessResponse"
              examples:
                by_endpoint:
                  summary: Usage grouped by endpoint
                  value:
                    success: true
                    result:
                      usage:
                        total_requests: 12450
                        total_cost: 68.70
                        cache_hits: 2835
                        cache_hit_rate: 0.23
                        period:
                          from: "2025-01-01T00:00:00Z"
                          to: "2025-01-31T23:59:59Z"
                      by_endpoint:
                        - endpoint: "/v1/classify"
                          requests: 8500
                          cost: 51.00
                          cache_hits: 1955
                        - endpoint: "/v1/translate"
                          requests: 1200
                          cost: 6.00
                          cache_hits: 276
                        - endpoint: "/v1/comments/reply"
                          requests: 1750
                          cost: 14.00
                          cache_hits: 0
                    errors: []
                    request_id: req_nw_usg_abc123
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /webhooks:
    post:
      operationId: createWebhook
      summary: Create webhook endpoint
      description: Register a new webhook endpoint for event notifications.
      tags: [Webhooks]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                  description: HTTPS endpoint URL
                  examples:
                    - "https://example.com/webhooks/nawa"
                events:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    enum:
                      - classification.completed
                      - classification.failed
                      - credits.low
                      - credits.exhausted
      responses:
        "201":
          description: Webhook endpoint created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
    get:
      operationId: listWebhooks
      summary: List webhook endpoints
      tags: [Webhooks]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      responses:
        "200":
          description: List of webhook endpoints
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      operationId: deleteWebhook
      summary: Deactivate webhook endpoint
      tags: [Webhooks]
      x-nawa-cost: "Free"
      x-nawa-cache: false
      x-nawa-free: true
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Webhook endpoint deactivated
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        API key authentication. Format: `Bearer nawa_live_sk_xxx` (production)
        or `Bearer nawa_test_sk_xxx` (sandbox, 100 request cap).

  headers:
    X-Request-Id:
      description: Unique request identifier
      schema:
        type: string
    X-NAWA-Provider:
      description: AI provider used for this request
      schema:
        type: string
        enum: [allam, claude]
    X-NAWA-Cache:
      description: Whether the response was served from semantic cache
      schema:
        type: string
        enum: [HIT, MISS]
    X-NAWA-Balance:
      description: Current credit balance in USD
      schema:
        type: string
    X-RateLimit-Limit:
      description: Maximum requests allowed per minute for this tier
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Remaining requests in the current window
      schema:
        type: integer
    X-RateLimit-Reset:
      description: RFC 3339 timestamp when the rate limit window resets
      schema:
        type: string
        format: date-time

  schemas:
    # --- Success Envelopes ---

    ClassifySuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/ClassificationResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    TranslateSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/TranslateResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    DetectSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/DetectResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    ModerateSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/ModerateResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    RubricSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/RubricResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    ReplySuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/ReplyResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    FeedbackSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/FeedbackResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    CommentsListSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          type: object
          properties:
            comments:
              type: array
              items:
                $ref: "#/components/schemas/CommentItem"
            pagination:
              $ref: "#/components/schemas/Pagination"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    AnalyticsSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/AnalyticsResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    UsageSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/UsageResult"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    WebhookSuccessResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          $ref: "#/components/schemas/WebhookEndpoint"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    WebhookListResponse:
      type: object
      required: [success, result, errors, request_id]
      properties:
        success:
          type: boolean
          const: true
        result:
          type: object
          properties:
            object:
              type: string
              const: list
            data:
              type: array
              items:
                $ref: "#/components/schemas/WebhookEndpoint"
        errors:
          type: array
          maxItems: 0
          items: {}
        request_id:
          type: string

    # --- Domain Objects ---

    ClassificationResult:
      type: object
      required: [id, object, intent, sentiment, language, provider, model, fallback_used, cost_usd, credits_used]
      properties:
        id:
          type: string
          description: Unique classification ID (cls_nw_xxx format)
        object:
          type: string
          const: classification
        intent:
          type: array
          items:
            type: string
            enum: [question, complaint, praise, suggestion, spam, other]
          description: Detected intents
        sentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
        language:
          type: string
          enum: [ar, en, mixed]
        dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
          description: Detected dialect. Null if not Arabic.
        dialect_confidence:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
          description: Confidence score for dialect. Null if not Arabic.
        requires_response:
          type: boolean
          description: Whether the comment warrants a reply
        priority:
          type: string
          description: Priority level for response
        suggested_reply:
          type: object
          properties:
            text:
              type: string
              description: Suggested reply text
            direction:
              type: string
              enum: [rtl, ltr]
              description: Text direction of the reply
        provider:
          type: string
          description: "AI provider used (allam, claude, or gemini)"
        model:
          type: string
          description: Specific model identifier
        fallback_used:
          type: boolean
          description: Whether the fallback provider was used
        tokens_used:
          type: integer
          nullable: true
          description: Reserved for future use
        cost_usd:
          type: number
          description: Cost of this request in USD
        credits_used:
          type: integer
          description: Credits deducted for this request

    TranslateResult:
      type: object
      required: [id, object, text, translated_text, source_language, target_language, tone, provider, model, fallback_used, cost_usd, credits_used, cached]
      properties:
        id:
          type: string
          description: Translation ID (trn_nw_xxx format)
        object:
          type: string
          const: translation
        text:
          type: string
          description: Original input text
        translated_text:
          type: string
          description: Translated output
        source_language:
          type: string
          enum: [ar, en]
        target_language:
          type: string
          enum: [ar, en]
        source_dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
          description: Detected dialect if source is Arabic
        target_dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
          description: Target dialect if target is Arabic
        tone:
          type: string
          enum: [formal, casual, social_media]
        provider:
          type: string
          description: "AI provider used (allam or claude)"
        model:
          type: string
        fallback_used:
          type: boolean
          description: Whether the fallback provider was used
        cached:
          type: boolean
        cost_usd:
          type: number
        credits_used:
          type: integer

    DetectResult:
      type: object
      required: [id, object, text, language, script, text_direction, word_count, fallback_used, cost_usd, credits_used, cached]
      properties:
        id:
          type: string
          description: Detection ID (det_nw_xxx format)
        object:
          type: string
          const: detection
        text:
          type: string
          description: The original input text
        language:
          type: string
          enum: [ar, en, mixed]
          description: Detected language
        dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
          description: Detected Arabic dialect. Null if not Arabic.
        dialect_confidence:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
          description: Confidence score for dialect detection. Null if not Arabic.
        script:
          type: string
          enum: [arabic, latin, mixed]
          description: Script type
        text_direction:
          type: string
          enum: [rtl, ltr]
          description: Text direction
        word_count:
          type: integer
          description: Number of words in the input text
        fallback_used:
          type: boolean
          description: Always false for this endpoint (local detection only)
        cost_usd:
          type: number
        credits_used:
          type: integer
        cached:
          type: boolean

    ModerateResult:
      type: object
      required: [id, object, text, is_safe, verdict, flags, severity, severity_score, language, categories, category_scores, flagged_terms, model, provider, fallback_used, cost_usd, credits_used, cached]
      properties:
        id:
          type: string
          description: Moderation ID (mod_nw_xxx format)
        object:
          type: string
          const: moderation
        text:
          type: string
          description: The original input text
        is_safe:
          type: boolean
          description: Whether the content passed moderation
        verdict:
          type: string
          enum: [safe, flagged]
        flags:
          type: array
          items:
            type: string
          description: List of triggered category names
        severity:
          type: string
          enum: [none, low, medium, high]
        severity_score:
          type: number
          minimum: 0
          maximum: 1
        language:
          type: string
          enum: [ar, en, mixed]
        dialect:
          type: string
          nullable: true
          enum: [gulf, egyptian, levantine, msa]
        categories:
          $ref: "#/components/schemas/ModerationCategories"
        category_scores:
          $ref: "#/components/schemas/ModerationCategoryScores"
        flagged_terms:
          type: array
          items:
            type: string
          description: Specific problematic words/phrases found
        cleaned_text:
          type: string
          nullable: true
          description: Text with flagged terms replaced by ***. Null if safe.
        model:
          type: string
        provider:
          type: string
          description: "AI provider used (allam or claude)"
        fallback_used:
          type: boolean
          description: Whether the fallback provider was used
        cost_usd:
          type: number
        credits_used:
          type: integer
        cached:
          type: boolean

    ModerationCategories:
      type: object
      properties:
        profanity:
          type: boolean
        hate_speech:
          type: boolean
        harassment:
          type: boolean
        sexual:
          type: boolean
        spam:
          type: boolean
        self_harm:
          type: boolean
        violence:
          type: boolean

    ModerationCategoryScores:
      type: object
      properties:
        profanity:
          type: number
          minimum: 0
          maximum: 1
        hate_speech:
          type: number
          minimum: 0
          maximum: 1
        harassment:
          type: number
          minimum: 0
          maximum: 1
        sexual:
          type: number
          minimum: 0
          maximum: 1
        spam:
          type: number
          minimum: 0
          maximum: 1
        self_harm:
          type: number
          minimum: 0
          maximum: 1
        violence:
          type: number
          minimum: 0
          maximum: 1

    RubricResult:
      type: object
      required: [id, object, categories, multi_label, language, provider, model, fallback_used, cost_usd, credits_used]
      properties:
        id:
          type: string
          description: Unique rubric classification ID (rcl_nw_xxx format)
        object:
          type: string
          const: rubric_classification
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              confidence:
                type: number
                minimum: 0
                maximum: 1
          description: Category results sorted by confidence descending
        multi_label:
          type: boolean
        language:
          type: string
          enum: [ar, en, mixed]
        provider:
          type: string
        model:
          type: string
        fallback_used:
          type: boolean
        cost_usd:
          type: number
        credits_used:
          type: integer

    ReplyResult:
      type: object
      required: [id, object, classification, reply, provider, model, cost_usd, credits_used]
      properties:
        id:
          type: string
          description: Unique reply ID (rpl_nw_xxx format)
        object:
          type: string
          const: comment_reply
        classification:
          type: object
          properties:
            intent:
              type: array
              items:
                type: string
              description: Detected intents
            sentiment:
              type: string
              enum: [positive, negative, neutral, mixed]
            priority:
              type: string
              description: Priority level
            requires_response:
              type: boolean
        reply:
          type: object
          properties:
            text:
              type: string
              description: Generated reply text
            direction:
              type: string
              enum: [rtl, ltr]
              description: Text direction
            tone:
              type: string
              enum: [friendly, professional, casual, formal]
        provider:
          type: string
          description: AI provider used
        model:
          type: string
          description: Specific model identifier
        cost_usd:
          type: number
        credits_used:
          type: integer

    FeedbackInput:
      type: object
      required: [classification_id, rating]
      properties:
        classification_id:
          type: string
          description: The classification ID from the original response (e.g. cls_nw_xxx)
        rating:
          type: string
          enum: [correct, incorrect, partial]
          description: Feedback rating
        corrected_intent:
          type: array
          items:
            type: string
          description: Array of correct intents if classification was wrong
        corrected_sentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
          description: Correct sentiment value
        comment:
          type: string
          description: Free-text explanation

    FeedbackResult:
      type: object
      properties:
        id:
          type: string
          description: Unique feedback ID (fb_nw_xxx format)
        object:
          type: string
          const: feedback
        classification_id:
          type: string
        rating:
          type: string
          enum: [correct, incorrect, partial]
        acknowledged:
          type: boolean

    CommentItem:
      type: object
      properties:
        id:
          type: string
        request_id:
          type: string
        text:
          type: string
        platform:
          type: string
          enum: [youtube, instagram, twitter, facebook]
        intent:
          type: string
          enum: [question, complaint, praise, suggestion, spam, other]
        sentiment:
          type: string
          enum: [positive, negative, neutral, mixed]
        dialect:
          type: string
          enum: [gulf, egyptian, levantine, msa]
        created_at:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        total:
          type: integer
          description: Total matching results
        limit:
          type: integer
          description: Page size used
        offset:
          type: integer
          description: Current offset
        has_more:
          type: boolean
          description: Whether more results exist

    AnalyticsResult:
      type: object
      properties:
        analytics:
          type: object
          properties:
            total_requests:
              type: integer
            total_cost:
              type: number
            cache_hits:
              type: integer
            cache_hit_rate:
              type: number
              minimum: 0
              maximum: 1
            avg_latency_ms:
              type: number
            success_rate:
              type: number
              minimum: 0
              maximum: 1
            error_count:
              type: integer
            endpoint_distribution:
              type: object
              additionalProperties:
                type: integer
            provider_distribution:
              type: object
              additionalProperties:
                type: integer
            period:
              type: object
              properties:
                from:
                  type: string
                  format: date-time
                  nullable: true
                to:
                  type: string
                  format: date-time
                  nullable: true

    HealthResult:
      type: object
      description: Health check response (not wrapped in standard envelope)
      properties:
        status:
          type: string
          enum: [healthy, degraded]
        version:
          type: string
        services:
          type: object
          properties:
            database:
              type: object
              properties:
                status:
                  type: string
                  enum: [healthy, degraded, down]
                latency_ms:
                  type: number
            redis:
              type: object
              properties:
                status:
                  type: string
                  enum: [healthy, degraded, down]
                latency_ms:
                  type: number
            nagl:
              type: object
              properties:
                status:
                  type: string
                  enum: [healthy, down]
        timestamp:
          type: string
          format: date-time
        latency_ms:
          type: number
          description: Total health check latency

    UsageResult:
      type: object
      properties:
        usage:
          type: object
          properties:
            total_requests:
              type: integer
            total_cost:
              type: number
              description: Total cost in USD
            cache_hits:
              type: integer
            cache_hit_rate:
              type: number
              minimum: 0
              maximum: 1
            period:
              type: object
              properties:
                from:
                  type: string
                  format: date-time
                  nullable: true
                to:
                  type: string
                  format: date-time
                  nullable: true

    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
          format: uuid
        object:
          type: string
          const: webhook_endpoint
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        signing_secret:
          type: string
          description: HMAC signing secret (shown once at creation)
        active:
          type: boolean
        failure_count:
          type: integer
        created_at:
          type: string
          format: date-time

    # --- Error Envelope ---

    ErrorEnvelope:
      type: object
      required: [type, error, request_id]
      properties:
        type:
          type: string
          const: error
        error:
          type: object
          required: [type, code, message, display_message, param, doc_url, suggested_action]
          properties:
            type:
              type: string
              enum:
                - authentication_error
                - permission_error
                - rate_limit_error
                - invalid_request_error
                - not_found_error
                - api_error
            code:
              type: string
            message:
              type: string
            display_message:
              type: string
            param:
              type: string
              nullable: true
            doc_url:
              type: string
              format: uri
            suggested_action:
              type: string
        request_id:
          type: string

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: invalid_request_error
              code: missing_field
              message: "`text` is required"
              display_message: "The required field `text` is missing."
              param: text
              doc_url: https://developers.trynawa.com/errors#missing_required_param
              suggested_action: "Include `text` in your request body."
            request_id: req_nw_a1b2c3d4e5f67890

    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: authentication_error
              code: invalid_api_key
              message: API key not found
              display_message: The provided API key is not valid.
              param: Authorization
              doc_url: https://developers.trynawa.com/authentication
              suggested_action: Check your API key in the NAWA dashboard.
            request_id: req_nw_a1b2c3d4e5f67890

    PaymentRequired:
      description: Insufficient credits
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: permission_error
              code: insufficient_credits
              message: Credit balance is $0.00
              display_message: Your account has insufficient credits.
              param: null
              doc_url: https://developers.trynawa.com/billing
              suggested_action: Purchase credits at trynawa.com/developers/keys.
            request_id: req_nw_a1b2c3d4e5f67890

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until the rate limit resets
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            type: error
            error:
              type: rate_limit_error
              code: rate_limit_exceeded
              message: "Rate limit exceeded: minute_limit"
              display_message: You have exceeded the request rate limit for your plan.
              param: null
              doc_url: https://developers.trynawa.com/rate-limits
              suggested_action: Wait and retry, or upgrade your plan for higher limits.
            request_id: req_nw_a1b2c3d4e5f67890

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
