openapi: 3.0.3
info:
  title: NAWA API
  description: Arabic-first AI classification API.
  version: 1.0.0
  contact:
    name: NAWA Support
    url: https://developers.trynawa.com
    email: support@trynawa.com
servers:
  - url: https://api.trynawa.com
    description: Production
security:
  - BearerAuth: []
paths:
  /v1/classify:
    post:
      operationId: classifyText
      summary: Classify text
      description: |
        Classify Arabic or English text. Returns intent, sentiment, dialect, priority,
        and a suggested reply direction. Supports semantic caching.
      tags:
        - Classification
      parameters:
        - name: provider
          in: query
          required: false
          description: Force a specific AI provider for A/B testing.
          schema:
            type: string
            enum: [claude, gemini, allam]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: The text to classify. Must be non-empty.
                  example: "ماشاء الله الفيديو حلو مرة"
                context:
                  type: object
                  description: Optional context for classification.
      responses:
        "200":
          description: Classification successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassifyResponse"
              example:
                success: true
                result:
                  id: cls_nw_a1b2c3d4e5f6
                  object: classification
                  intent:
                    - praise
                  sentiment: positive
                  language: ar
                  dialect: gulf
                  dialect_confidence: 0.92
                  requires_response: false
                  priority: medium
                  suggested_reply:
                    text: "تعليق إيجابي يعبر عن إعجاب المستخدم بالمحتوى"
                    direction: rtl
                  provider: allam
                  model: sdaia/allam-1-13b-instruct
                  fallback_used: false
                  tokens_used: null
                  cost_usd: 0.006
                  credits_used: 6
                errors: []
                request_id: req_nw_a1b2c3d4e5f67890abcdef12
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique request identifier (req_nw_xxx format)
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Rate limit ceiling
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining
            X-RateLimit-Reset:
              schema:
                type: string
                format: date-time
              description: Window reset time (RFC 3339)
            X-NAWA-Provider:
              schema:
                type: string
                enum: [claude, gemini, allam]
              description: AI provider used
            X-NAWA-Cache:
              schema:
                type: string
                enum: [HIT, MISS]
              description: Cache status
            X-NAWA-Latency:
              schema:
                type: string
              description: Processing time in milliseconds
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCredits"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/rubric-classify:
    post:
      operationId: rubricClassify
      summary: Classify with custom rubric
      description: |
        Classify text against a user-defined rubric. Supports multi-label classification
        and configurable confidence thresholds.
      tags:
        - Classification
      parameters:
        - name: provider
          in: query
          required: false
          schema:
            type: string
            enum: [claude, gemini, allam]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
                - rubric
              properties:
                text:
                  type: string
                  description: The text to classify. Must be non-empty.
                  example: "وين الترجمة العربية؟ مافهمت شي"
                rubric:
                  type: object
                  required:
                    - categories
                  properties:
                    categories:
                      type: array
                      minItems: 1
                      maxItems: 20
                      items:
                        type: object
                        required:
                          - name
                        properties:
                          name:
                            type: string
                          description:
                            type: string
                    multi_label:
                      type: boolean
                      default: false
                    confidence_threshold:
                      type: number
                      minimum: 0
                      maximum: 1
                      default: 0.5
      responses:
        "200":
          description: Rubric classification successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RubricClassifyResponse"
              example:
                success: true
                result:
                  id: rcl_nw_a1b2c3d4e5f6
                  object: rubric_classification
                  categories:
                    - name: translation_request
                      confidence: 0.94
                  multi_label: false
                  language: ar
                  provider: allam
                  model: sdaia/allam-1-13b-instruct
                  fallback_used: false
                  cost_usd: 0.003
                  credits_used: 3
                errors: []
                request_id: req_nw_rub123abc456defghijk78
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCredits"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/comments/reply:
    post:
      operationId: commentsReply
      summary: Classify and generate reply
      description: |
        Classify a comment and generate a contextual reply in a single call.
        Supports tone control and max length configuration.
      tags:
        - Reply
      parameters:
        - name: provider
          in: query
          required: false
          schema:
            type: string
            enum: [claude, gemini, allam]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: Comment text to classify and reply to.
                  example: "هذا المنتج سيء جداً ولا أنصح به"
                tone:
                  type: string
                  enum: [friendly, professional, casual, formal]
                  default: professional
                max_length:
                  type: integer
                  minimum: 1
                  maximum: 2000
                  default: 500
      responses:
        "200":
          description: Classification and reply result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/InsufficientCredits"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/feedback:
    post:
      operationId: submitFeedback
      summary: Submit classification feedback
      description: |
        Submit feedback on a classification result. Free for all tiers.
        Used for RLHF-based model improvement.
      tags:
        - Feedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - classification_id
                - rating
              properties:
                classification_id:
                  type: string
                  description: The cls_nw_xxx ID from a classify response.
                  example: cls_nw_a1b2c3d4e5f6
                rating:
                  type: string
                  enum: [correct, incorrect, partial]
                  example: incorrect
                corrected_intent:
                  type: array
                  items:
                    type: string
                  description: Corrected intent labels.
                corrected_sentiment:
                  type: string
                  enum: [positive, negative, neutral, mixed]
                  description: Corrected sentiment value.
                comment:
                  type: string
                  description: Free-text explanation.
                  example: "This is Lebanese Arabic, not Gulf"
      responses:
        "200":
          description: Feedback accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedbackResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /v1/health:
    get:
      operationId: healthCheck
      summary: Health check
      description: Public health check endpoint. No authentication required.
      tags:
        - System
      security: []
      responses:
        "200":
          description: All services healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
        "503":
          description: One or more services degraded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        API key authentication. Format: Bearer nawa_live_sk_xxx (live)
        or Bearer nawa_test_sk_xxx (free, 100 request cap).
  schemas:
    ClassifyResponse:
      type: object
      properties:
        success:
          type: boolean
        result:
          type: object
          properties:
            id:
              type: string
              description: Classification ID (cls_nw_xxx format)
            object:
              type: string
              enum: [classification]
            intent:
              type: array
              items:
                type: string
              description: Detected intents
            sentiment:
              type: string
              enum: [positive, negative, neutral, mixed]
            language:
              type: string
              enum: [ar, en, mixed]
            dialect:
              type: string
              nullable: true
              description: Arabic dialect (gulf, egyptian, levantine, maghrebi, msa)
            dialect_confidence:
              type: number
              nullable: true
              minimum: 0
              maximum: 1
            requires_response:
              type: boolean
            priority:
              type: string
              enum: [high, medium, low]
            suggested_reply:
              type: object
              properties:
                text:
                  type: string
                direction:
                  type: string
                  enum: [ltr, rtl]
            provider:
              type: string
              enum: [claude, gemini, allam]
            model:
              type: string
            fallback_used:
              type: boolean
            tokens_used:
              type: integer
              nullable: true
            cost_usd:
              type: number
            credits_used:
              type: integer
        errors:
          type: array
          items:
            $ref: "#/components/schemas/Error"
        request_id:
          type: string
    RubricClassifyResponse:
      type: object
      properties:
        success:
          type: boolean
        result:
          type: object
          properties:
            id:
              type: string
            object:
              type: string
              enum: [rubric_classification]
            categories:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  confidence:
                    type: number
                    minimum: 0
                    maximum: 1
            multi_label:
              type: boolean
            language:
              type: string
            provider:
              type: string
            model:
              type: string
            fallback_used:
              type: boolean
            cost_usd:
              type: number
            credits_used:
              type: integer
        errors:
          type: array
          items:
            $ref: "#/components/schemas/Error"
        request_id:
          type: string
    ReplyResponse:
      type: object
      properties:
        success:
          type: boolean
        result:
          type: object
          properties:
            id:
              type: string
            object:
              type: string
              enum: [comment_reply]
            classification:
              type: object
              properties:
                intent:
                  type: array
                  items:
                    type: string
                sentiment:
                  type: string
                priority:
                  type: string
                requires_response:
                  type: boolean
            reply:
              type: object
              properties:
                text:
                  type: string
                direction:
                  type: string
                  enum: [ltr, rtl]
                tone:
                  type: string
            provider:
              type: string
            model:
              type: string
            cost_usd:
              type: number
            credits_used:
              type: integer
        errors:
          type: array
          items:
            $ref: "#/components/schemas/Error"
        request_id:
          type: string
    FeedbackResponse:
      type: object
      properties:
        success:
          type: boolean
        result:
          type: object
          properties:
            id:
              type: string
            object:
              type: string
              enum: [feedback]
            classification_id:
              type: string
            rating:
              type: string
            acknowledged:
              type: boolean
        errors:
          type: array
          items:
            $ref: "#/components/schemas/Error"
        request_id:
          type: string
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded]
        version:
          type: string
        services:
          type: object
          properties:
            database:
              $ref: "#/components/schemas/ServiceStatus"
            redis:
              $ref: "#/components/schemas/ServiceStatus"
            nagl:
              $ref: "#/components/schemas/ServiceStatus"
        timestamp:
          type: string
          format: date-time
        latency_ms:
          type: integer
    ServiceStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, down]
        latency_ms:
          type: integer
    Error:
      type: object
      properties:
        type:
          type: string
          enum:
            - authentication_error
            - permission_error
            - rate_limit_error
            - invalid_request_error
            - not_found_error
            - api_error
        code:
          type: string
        message:
          type: string
        display_message:
          type: string
        param:
          type: string
          nullable: true
        doc_url:
          type: string
          format: uri
        suggested_action:
          type: string
    ErrorResponse:
      type: object
      properties:
        type:
          type: string
          enum: [error]
        error:
          $ref: "#/components/schemas/Error"
        request_id:
          type: string
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Authentication error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InsufficientCredits:
      description: Insufficient credits
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
